.shadowed-white-box { /* created for login page */
	background: @white;
	padding: 30px 50px;
	.box-shadow( 0 0 3px @grayLight );
}

.validation-summary-errors { /* created to style errors displayed in login page */
	padding: 8px 35px 8px 14px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background: #f2dede;
	border: 1px solid #eed3d7;
	color: #b94a48;
	.border-radius(4px);

	>span {
		display: block;
		line-height: 20px;
		font-weight: bold;
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			color: #b94a48;
			padding-left: 10px;
		}
	}
}

.links-group a, .links-group button {
	display: inline-block;
	margin-left: 10px;

	&:first-child {
		margin-left: 0;
	}
}

.block-buttons a, .block-buttons button {
	display: block;
	text-align: center;
	margin-top: 4px;

	&:first-child {
		margin-top: 0;
	}
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  */
/* ICONS  */
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  */

.icons-gear { /* created to style header */
	position: relative;
	padding-left: 17px;

	&:before {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		background: url(../images/Zvaigzde.png) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -6px;
		left: 0;
	}
}

.icons-x { /* created to style header */
	position: relative;
	padding-left: 17px;

	&:before {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		background: url(../images/X_orange.png) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -6px;
		left: 0;
	}
}