.header-full-width {
	width: 100%;
}

.header-color-1 {
	width: 100%;
	height: 25px;
	background: #a59894;

	>.colmask>.row {
		padding-left: 220px;
	}
}

.header-color-2 {
	width: 100%;
	height: 45px;
	background: #3f3b3b;
}

.logo {
	display: block;
	width: 199px;
	height: 70px;
	padding: 0;
	position: absolute;
	top: 0;
	left: -32px;
}