@*@model CC.Views.Account.HeaderModel*@ @*@{
    Layout = null;
    ViewBag.Title = "Pranešimai";    
}
*@
<div style="background-color: #A59894;position: absolute; width: 100%; left: 0; top: 0;">
 <div style="background-color: #A59894;position:relative;height:21px;max-width:830px;margin:0 auto;">
 	<img style="z-index: 1; left: -144px; height: 67px; position: absolute; top: 0px;" src="/Content/images/claimslogo.png" alt="">	
 </div>
 <div class="header-nav" style="height:46px;">	
 </div>	
</div>


