<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body { width: 340px; }
    </style>
    <link rel="stylesheet" href='@Url.Content("~/Content/LoginStyles.css")' type="text/css" />
</head>
<body style=" background: #F6F6F1;">
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>
