@*@model CC.Views.Account.HeaderModel*@ @*@{
    Layout = null;
    ViewBag.Title = "Pranešimai";    
}
*@

<div class="header-full-width">

	<div class="header-color-1">
		<div class="colmask">
			<div class="row relative">

				<a href="#" class="logo"><img src="@Url.Content("~/Content/images/claimslogo.png")" alt="logo" /></a>

			</div><!-- row -->
		</div><!-- colmask -->
	</div><!-- header-color-1 -->

	<div class="header-color-2">

	</div><!-- header-row-2 -->

</div><!-- header-full-width -->


