@model CC.Models.RecoverPasswordModel
@{
    ViewBag.Title = "Slaptažodžio atstatymas";
    Layout = "RecoverPassword_Layout.cshtml";
}
<p>
    @{ Html.RenderAction("Header", "Account"); }
</p>
<div class="shadow" style="border: 2px solid #e8e8e4; background-color: #FFFFFF;">
    <div class="content">
        <h2 style="color:#EB5A44;">Pamiršote slaptažodį?</h2>
        <p style=" margin-bottom: 15px;">
            Įvestikte el. pašto adresą, kuriuo buvote registruoti sistemoje. <br />Slaptažodį išsiųsime į įvesto el. pašto dėžutę.
        </p>

        @using (Html.BeginForm())
        {
            <div id="divRecoverPassword">
        
                <table border="0" cellspacing="0">
                    <tr>
                        <td>
                            <div class="editor-field"> 
                                @Html.TextBoxFor(m => m.Email, new { id = "EMail", @class = "input customInputProperty" })
                                                      
                            </div>
                        </td>
                        <td>
                            <div style=" margin-left: 10px;">
                                <input type="submit" class="button customButtonPropertyPassword" value="Siųsti" /> <!-- Mygtukas -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style=" padding-left: 5px;">
                            @Html.ValidationMessageFor(m => m.Email) 
                            &nbsp;&nbsp;
                        </td>
                    </tr>
                </table>  

                <p class="komentaras" style="color: #8A8A8A; margin-bottom: 20px;">
                    Įspėjimas dėl spam filtrų: jei negausite mūsų laiško per kelias minutes, paieškokite jo Jūsų spam dėžutėje. Mūsų laiškas ateis adresu do-not-reply@claimscontrol.com
                </p>
                <p>
                    <span style="font-weight: bold;">Nežinote kuriuo el. paštu esate užregistruoti sistemoje?</span><br />
                    Kreipkitės į sistemos administratorių savo įmonėje - jis sukurs naują slaptažodį Jums.
                </p>
            </div><br />
            <div style=" height: 40px;">
                @Html.ValidationSummary(true, " ")<br />
            </div>            
            @Html.ActionLink("Grįžti į prisijungimo langą", "LogOn", null, new { @style = "color: #EB5A44;text-decoration:underline;font-weight:bold;" })            
        }
    </div>
</div>
