/* Bootstrap buttonai pattern.less */
.right{float:right; text-align:left;}
.left{float:left;}	
.container{
	.clearfix();
	.big {
		div{ padding: 20px 4px;}
	}
}
//.cont{
	//.right{float:right; text-align:left;}
	//.left{float:left;}
//	.clearfix();
//}
.centerBlock {
	.center-block()
}

.w02px {width:20px;}
.w03px {width:30px;}
.w04px {width:40px;}

.w03pr {width:3%;}
.w05pr {width:5%;}
.w10pr {width:10%;}
.w12pr {width:12%;}
.w15pr {width:15%;}
.w20pr {width:20%;}
.w25pr {width:25%;}
.w28pr {width:28%;}
.w30pr {width:30%;}
.w32pr {width:32%;}
.w35pr {width:35%;}
.w38pr {width:38%;}
.w395pr {width:39.5%;}
.w45pr {width:45%;}
.w70pr {width:70%;}
.w95pr {width:95%;}
.w47pr_mp{width:47%; margin: 1.5%; padding: 1.5%; }
.w47pr_m{width:47%; margin: 1.5%;}

.box{margin:0; padding:0;}
.box_3pr_p{margin:0; padding:3%;}
.border { border: 1px solid #DDD; }

.btn {
  // Button Sizes
  //&.large {
  //  font-size: @basefont + 10px;
  //  line-height: normal;
  //  padding: 9px 14px 9px;
  //  .border-radius(6px);
  //}
  //&.small {
  //  padding: 7px 9px 7px;
  //  font-size: @basefont - 2px;
  //}
}

.big {padding: 25px;}

a, .btn, div, span {
.large, &.large {padding: 9px 14px; font-size: @basefont + 10px;}
.medium, &.medium {padding: 6px 8px; font-size: @basefont;}
.small, &.small {padding: 4px 6px; font-size: @basefont - 2px;}
.mini, &.mini {padding: 2px 4px; font-size: @basefont - 4px;}
}
.btn{
.btn > .large {.border-radius(6px);}
.btn > .medium {.border-radius(3px);}
}
.fieldSetBorder{border: 2px groove threedface;}
#btnSave, #btnMapTown { 
    color: gray;
    font-weight: bold;
    .border-radius(3px);
    .btn > .small;
}

// Download Font
.dlFont {
    src:url('fonts/Asap-Regular-webfont.eot');  
    src:url('fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),  
    url('fonts/Asap-Regular-webfont.woff') format('woff'),  
    url('fonts/Asap-Regular-webfont.ttf') format('truetype'),  
    url('fonts/Asap-Regular-webfont.svg#AsapRegular') format('svg');       
    }