/* Bootstrap buttonai pattern.less */
.right{float:right; text-align:left;}
.left{float:left;}	
.rightComment{text-align:right;color:Gray;}
.tac { text-align: center; }

.container{
	.clearfix();
	.big {
		div{ padding: 20px 4px;}
	}
}

.centerBlock {
	.center-block()
}

.mr5 { margin-right: 5px; }
.mr8 { margin-right: 8px; }
.mr12 { margin-right: 12px; }
.mr50 { margin-right: 50px; }
.w5em {width: 5em !important;}
.w20px {width:20px;}
.w30px {width:30px;}
.w40px {width:40px;}
.w40px {width:60px;}
.w100px {width:100px;}
.w150px {width:150px;}

.w03pr {width:3%;}
.w05pr {width:5%;}
.w10pr {width:10%;}
.w12pr {width:12%;}
.w15pr {width:15%;}
.w20pr {width:20%;}
.w25pr {width:25%;}
.w28pr {width:28%;}
.w30pr {width:30%;}
.w32pr {width:32%;}
.w35pr {width:35%;}
.w38pr {width:38%;}
.w395pr {width:39.5%;}
.w45pr {width:45%;}
.w50pr {width:50%;}
.w48pr {width:48%;}
.w70pr {width:70%;}
.w80pr {width:80%;}
.w90pr {width:90%;}
.w95pr {width:95%;}
.w47pr_mp{width:47%; margin: 1.5%; padding: 1.5%; }
.w47pr_m{width:47%; margin: 1.5%;}

.box{margin:0; padding:0;}
.box_3pr_p{margin:0; padding:3%;}
.box_2pr{padding:2%;}
.box_1pr{padding:2%;}
.box_.5pr{padding:2%;}

.box-1pr-btm{margin-bottom:1%;}
.box-1pr-left{margin-left:1%;}
.box-45pr-left{margin-left:45%;}
.box-14pr-left{margin-left:14%;}
.box-w48pr-left{width:48%;margin-left:3.5%;}
.box-1pr-margin{margin-left:1%;}
.border { border: 1px solid #DDD; }
.borderGroove { border: 1px solid #EB5A44; }

.big {padding: 13px;}
/*<<<<<<< .mine
.leftBlock { margin: 10px 3px 10px 0px; vertical-align: top; } //Used with .ExtendIt  display: inline-block; display:block; font-size: 19pt;
.formTitle { .titleMargins(); font-family:'Myriad Pro'; letter-spacing:-1px; }
.formSubTitle { .titleMargins(); font-family:'Myriad Pro'; letter-spacing:-1px;  color: @systemGrey;}
.tableTitle { .titleMargins();  color: @systemGrey;}
a, .btn, div, span {
    .large, &.large {
        padding: 9px 14px;
        font-size: @basefont + 10px;
    }
=======*/
.leftBlock { padding: 10px 3px 0 0; vertical-align: top; } //Used with .ExtendIt  display: inline-block; 

.fieldSetBorder{ border: 2px groove threedface; }

.styled-select {
    width: 100%;
    height: 22px;
    overflow: hidden;
    background: url("./images/dropdown_arrow.png") no-repeat right #fff;    
    #font > .regular;
    
select {
    -webkit-appearance: none;
       background: transparent;
       width: 120%;
       border: 1px solid #ccc;
       height: 22px;
       option { padding-bottom: 5px; }
    }
 }








