/* Bootstrap buttonai pattern.less */
.right{float:right; text-align:left;}
.left{float:left;}	
.container{
	.clearfix();
	.big {
		div{ padding: 20px 4px;}
	}
}
//.cont{
	//.right{float:right; text-align:left;}
	//.left{float:left;}
//	.clearfix();
//}
.centerBlock {
	.center-block()
}

.w02px {width:20px;}
.w03px {width:30px;}
.w04px {width:40px;}

.w03pr {width:3%;}
.w05pr {width:5%;}
.w10pr {width:10%;}
.w12pr {width:12%;}
.w15pr {width:15%;}
.w20pr {width:20%;}
.w25pr {width:25%;}
.w28pr {width:28%;}
.w30pr {width:30%;}
.w32pr {width:32%;}
.w35pr {width:35%;}
.w38pr {width:38%;}
.w395pr {width:39.5%;}
.w45pr {width:45%;}
.w70pr {width:70%;}
.w95pr {width:95%;}
.w47pr_mp{width:47%; margin: 1.5%; padding: 1.5%; }
.w47pr_m{width:47%; margin: 1.5%;}

.box{margin:0; padding:0;}
.box_3pr_p{margin:0; padding:3%;}
.border { border: 1px solid #DDD; }

.btn {
  // Button Sizes
  //&.large {
  //  font-size: @basefont + 10px;
  //  line-height: normal;
  //  padding: 9px 14px 9px;
  //  .border-radius(6px);
  //}
  //&.small {
  //  padding: 7px 9px 7px;
  //  font-size: @basefont - 2px;
  //}
}

.big {padding: 25px;}

a, .btn, div, span {
.large, &.large {padding: 9px 14px; font-size: @basefont + 10px;}
.medium, &.medium {padding: 6px 8px; font-size: @basefont;}
.small, &.small {padding: 4px 6px; font-size: @basefont - 2px;}
.mini, &.mini {padding: 2px 4px; font-size: @basefont - 4px;}
}
.btn{
    //.btn > .large {.border-radius(6px);}
   &.large {
        .border-radius(5px);
        border-style: double;
        border-width: 4px;
        border-color: #d5d5d1;
        #font > .header(20px, bolder, @baseline, #5d7c9b);
        padding: 3px 15px;
        .box-shadow(0px 0px 0px #fff);
    }
    // Mažas button'as
    padding: 3px 10px; 
    color: #666;
    text-shadow: #fff 0.5px 0.5px 0px;
    .border-radius(5px);    
    border-color: #888;
    .box-shadow(0px 1px 0px #C3C3C3); 
}
.fieldSetBorder{border: 2px groove threedface;}
#btnSave, #btnMapTown { 
    color: gray;
    font-weight: bold;
//    .border-radius(3px);
    .btn > .medium;
}
.styled-select {
    width: 100%;
    height: 22px;
    overflow: hidden;
    background: url("./images/dropdown_arrow.png") no-repeat right #fff;    
    #font > .regular;
    
select {
    -webkit-appearance: none;
       background: transparent;
       width: 120%;
       border: 1px solid #ccc;
       height: 22px;
       option { padding-bottom: 5px; }
    }
 }



// Download Font
.dlFont {
    @font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url(http://themes.googleusercontent.com/static/fonts/asap/v1/SgBaq0dzhSGNMfqm2JX5ng.woff) format('woff');
//    url(http://fonts.googleapis.com/css?family=Asap)
     
    }
}


//input[type="text"] { .border-radius(0);  }









