//@import "bootstrap-variables";
//@import "bootstrap-mixins";
//@import "bootstrap-forms";
//@import "bootstrap-buttons";
//@import "bootstrap-button-groups";
 

@blue: #758ba3;
@link-color: #239bc8;
@box-border-color: #607286;
@box-text-color: #c1cbd6; 

.gradient--main() {
	#gradient > .vertical(#196e99, #17648c);
	background-color: #196e99;
}

.ui-button-override() {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3) ,inset 0px 1px 0px 0px rgb(255,255,255);
	background: white;
	color: #196e99;
	#gradient > .vertical(#f7f7f7, #eeeeee);
	&.ui-state-active { .gradient--main; color: white; box-shadow: none; }	
}
#accidentTab {
	padding: 0;
}

#dynamicTree {
	padding: 0;
	
	ul {
		
		li {
			position: relative;
			padding: 3px 0;
			background: #F1F1F2;
			&:nth-of-type(even) { background: white; }
		}
	}
	
	.ui-state-highlight {
		.gradient--main();
		color: white;	
		position: absolute;
		left: 0;
		right: 0;	
		box-shadow: none;
		border: 0 none;
	} 
	
	
	
	
	
}

//#dynamicTree ul:first-of-type { margin: 0; }

.docs__actions {
	text-align: center;
	a  { margin-right: 24px; }
}

#tabAccidents {
	.ui-button {
		.ui-button-override();
	}
}

.filtergroup {
	.ui-button {
		.ui-button-override();
	}
	
	&.ui-buttonset .ui-button {		
		border-style: solid; 
		margin-bottom: 7px;	
		border-radius: 7px;			
	}
	
	.ui-buttonset .ui-button {
		margin-right: -3px;
		&:nth-of-type(1) { border-right-color: #F8F8F8; }
		&:nth-of-type(2) { border-left-color: #E5E5E5; }
		
	}
	
	.ui-corner-left { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
	.ui-corner-right { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
}
 
.header-nav {
	.gradient--main;
	.box-shadow(0 2px 2px #999);
	margin-bottom: 12px;
	
}

.header--sidebar {
	.gradient--main;
	box-shadow: 0 2px 3px #ddd;
}

.sidebar__title {
	color: white;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
}

.sidebar__selection {
	background: #F0F5F7;
	padding: 18px;
	a { 
		font-size: 12px; 
		text-decoration: underline; 
		position: relative;
		display: block;
		padding-left: 16px;
		&:before {
			content: "";
			width: 10px; height: 10px;
			position: absolute;
			top: 5px;
			left: 0;
			background: url(../images/icon-cancel-2.png) no-repeat;	
		}
		
	}
}

.header-top {
	background: #103855;
}

#ulMainMenu { 
	//padding: 0 3% 0 3%; 
	position: relative;
	list-style-type: none; 
	//background-image: url('images/navi_bg.png'); 
	//height: 37px; 
	margin: 0 auto 4px auto; 
	
	
    li { float: left; border-right: 1px solid #237aa7; &:first-of-type { border-left: 1px solid #237aa7}
        a { text-decoration: none; padding-right: 20px; padding-left: 20px; display: block; #font > .header(14px, bolder, 37px, #fff); text-shadow: 0 1px 1px #222; 
            &.selected { position: relative; /*font-size: 11pt; */text-decoration: none; padding-top: 1px; background-color: white; color: #505860; /*#676e75;*/ text-shadow: #c5c7ca 0 0 0; .border-radius(0px 0px 0 0 )}
            &:hover {text-decoration: none;}
            &.selected:after { content: ""; position: absolute; left: 0; right: 0; height: 22px; bottom: -22px; background: white; }
        }
    &:hover a.notactive { cursor: pointer; background-color: #9EAEBD; .border-radius(0px 0px 0 0 );}
    &:last-child, &:first-child { .border-image > .left }
    }
}



.container() {
	max-width: 1100px; 
	margin: 0 auto;	
}

.container--main {
	.container;
	padding: 0 18px;
	background: white;
	//border: 1px solid #ececec;
	box-shadow: 0 2px 3px #ddd;
	
	&.detached { margin-top: 16px; }
	
	a { border-bottom: 2px solid #d8e8f3; }
}

.container--header {
	.container;
}

.container--well {
	padding: 28px;
	border: 1px solid #DDD;
	border-radius: 4px;
	margin-bottom: 22px;
	 .clearfix();
}

.container--filtergroup {
	background: white;
}

.form__row--half {
	float: left;
	width: 50%;
	
}

.input--half {
	input { width: 50% !important; }
	float: left;
	//width: 50%;
	padding-right: 40px;
	width: 100%;
}

.input--long {
	width: 100%;
	//width: 70%;
	float: left;
	input { width: 70% !important; }
}

.input--quarter {
	padding-right: 40px;
	width: 25%;
	float: left;	
}

.input__append {
	float: left;
}

.title--bordered {
	border-top: 1px solid #999;
	display: block;
	padding: 10px 12px;
	margin: 0 -18px;
}

.img32 () {
	background-position: top left !important;
	height: 20px;
	width: 20px;	
} 
.img32-check {
	.img32;
	width: 25px;
	background-image: url(../images/icon-success.png);
}

.img18-plus, .img32-plus {
	.img32;
	background-image: url(../images/icon-plus.png) !important;
}

.img32-examine {
	.img32;
	background-image: url(../images/icon-examine.png);	
	height: 32px;
	width: 32px;
}

.img32-bin {
	.img32;
	margin: 0;
	width: 14px;
	background-image: url(../images/icon-trash.png);	
}

.img32-mono_delete {}

img32-mono_edit {}

.text-warning {
	color: red;
}

.btn--table, .btn--spacing {
	margin: 30px 0;
}

.btn--large { font-size: 16px; padding: 7px; }




.text-red {
	color: lighten(red, 5%);
	border-bottom: 1px solid lighten(red, 5%);
}

	.claims {
			overflow: hidden;
			width: 940px; 
			margin: auto;
			position: relative;
			padding: 25px;
			//#gradient > .vertical-three-colors(#FFFFFF,#ECF0F6,0.13,#FFFFFF); // -1 13 50
		a {
			color: @link-color;
			text-decoration: none;
			font-weight: bold;
			border-bottom: 1px solid @link-color;
			&:hover { text-decoration: none; }
		}			
		.line {
			position: absolute;
			top: 45px;
			height: 2px;
			right: 0;
			left: 0;
			background: #c9d1da;
		    border-bottom: 1px solid white;
		}
		.step-box {
			width: 150px;
			float: left;
			min-height: 120px;
			//border: 1px solid #c4c4c4;
			margin-left: 35px;
			border-radius: 3px;
			&.first { margin-left: 0; }
 
		}

		.step-box-header {
			height: 35px+6px;
			border: 3px solid @box-border-color;
			border-radius: 3px;
			color: @box-text-color;
			overflow: hidden;
			background: @blue;
			z-index: 10;
			position: relative;
		} 

		.num {
			font-size: 30px;
			float: left; 
			width: 36px;
			text-align: center;
			padding: 2px;
			font-weight: bold;
			padding: 7px;
			line-height: 22px;
		}

		.name {
			float: left;
			width: 9em;
			font-size: 12px;
			padding: 6px;
			line-height: 12px;
			font-weight: bold;
		}

		.step-box-content {
			border: 1px solid #ccc;
			border-width: 0 1px 1px 1px;
			.inner {
				margin: auto;
				width: 80%;
				text-align: center;
				padding: 10px 0;				
			}

		}

		.date {
			font-weight: bold;

		}

		.step-box-addon {
			width: 340px;
			min-height: 80px;
			padding: 20px;
		    margin-left: -95px;
		    margin-top: 11px;			
			background: #c9d1da;
			position: relative;
			border-radius: 5px;
			box-shadow: 2px 1px 1px #999;
			//css arrow
			&:before {				
			    border-bottom: 12px solid #C9D1DA;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			    content: "";
			    height: 0;
			    position: absolute;
			    right: 47%;
			    top: -9px;
			    width: 0;			
			}

			.date-label {
				color: #4c5158;
				font-size: 11px;
				display: block;
				margin-bottom: 4px;
			}

		}


		.current {
			.step-box-header {
				#gradient > .vertical(#E9EEF4, #F3F3FF);
				color: @blue;
			} 
			.step-box-content {
				border: 0 none;
				.inner {
					text-align: left;
					width: 100%;
				}
			}			
			.num    { line-height: 18px; border-right: 1px solid #dadee3; }
		}

		.active {
			.step-box-header {
				#gradient > .vertical(#3faf17, #3ede18);
				color: white;
				.num {
					border-right: 1px solid #38b316;
					box-shadow: 0 0 1px #78dd5e;
				}

			}
			.step-box-content { 
				margin-top: 10px; 
				min-height: 52px;
				border: 1px solid #c6c6c6;
				border-radius: 3px;
			}			

		}
 }


 .sidenav {

	.sidenav-label {
		color: #505860;
		padding: 0 45px;
		margin: 0;
	}

 	.items { 
 		list-style: none;
 	}

 	.item {
 		border-bottom: 1px dotted #bfbfbf;
 		a {
	 		display: block;
	 		padding: 15px 20px; 	
	 		font-weight: bold;		
 		}
 		&:last-of-type { border-bottom: 0 none; }
 	}


 }


 .content-col2 {
 	width: 17%;
 	float: left;
 }

 .content-col4 {
 	width: 81%;
 	float: left;
 }

.content-fullwidth {
	padding: 0;
}

.content-claims {
	#gradient > .vertical(#ECF0F6, #FFFFFF);
	//background: url("box-bg.png") repeat-x;
}

 .tabnav { 
 	list-style: none;
 	overflow: hidden;
 	padding: 0;
 	margin: 0 0 10px;
 	background: #505860;
 	li {
 		background: #505860;
 		float: left;
 		border-left: 1px solid white;
 		padding: 10px 30px;
 		text-align: center;
 		color: white;
 		font-size: 14px;
 		font-weight: bold;
 		&.active { background: white; color: #505860; }
 	} 
 }