/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
// Sprite icons path
// -------------------------
@iconSpritePath:          "../less/images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../less/images/glyphicons-halflings-white.png";

// Links
@linkColor:         #eb5a44;
@linkColorHover:    darken(@linkColor, 15);

// urls
@borderbg:           "images_ui/CC-separator-blue.png";

// Grays
@black:             #000;
@grayDark:          lighten(@black, 25%);
@grayDarker:        lighten(@black, 15%);
@gray:              lighten(@black, 50%);
@grayLight:         lighten(@black, 75%);
@grayLighter:       lighten(@black, 90%);
@grayUltraLight:    lighten(@black, 95%);
@white:             #fff;

@tabsBorder:        #c1c1c1;

// Accent Colors {	
@systemBlueLight:   #D6DDE5;
@systemBlue:		#788DA2;
@systemGreen:		#A2B38D;
@blue:              #049CDB;
@blueDark:          #0064CD;
@green:             #46a546;
@borderGreen:       #a4b97f;
@red:               #9d261d;
@yellowlight:       #fbfbd8;
@systemYellow:      #fafbf0;
@systemYellow2:     #f2f0e4;
@systemYellow3:     #e7e5cf;
@systemYellow4:     #f2e5bc;
@yellow:            #ffc40d;
@orange:            #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;

// Baseline grid
@basefont:          12px;
@baseline:          20px;
@smallfont:         11px;
@fontSizeSmall:     11px;//buttonams reikalingi
@fontSizeMini:      5px;
@baseFontSize:      12px;
@fontSizeLarge:	    14px;

// Griditude
// Modify the grid styles in mixins.less
@gridColumns:       16;
@gridColumnWidth:   40px;
@gridGutterWidth:   20px;
@extraSpace:        (@gridGutterWidth * 2); // For our grid calculations
@siteWidth:         (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Color Scheme
// Use this to roll your own color schemes if you like (unused by Bootstrap by default)
@baseColor:         @blue;                  // Set a base color
@complement:        spin(@baseColor, 180);  // Determine a complementary color
@split1:            spin(@baseColor, 158);  // Split complements
@split2:            spin(@baseColor, -158);
@triad1:            spin(@baseColor, 135);  // Triads colors
@triad2:            spin(@baseColor, -135);
@tetra1:            spin(@baseColor, 90);   // Tetra colors
@tetra2:            spin(@baseColor, -90);
@analog1:           spin(@baseColor, 22);   // Analogs colors
@analog2:           spin(@baseColor, -22);

// Inputs
@inputHeight: 26px;

//progress barui reikalingi (galima keist savo nuoþiûra)
@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:		3px;
@baseLineHeight:        20px;
@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 4px;
@paddingMini:          1px 2px;

// Webkit-style focus
// ------------------
.tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #bbb;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;