<div id="dialogContent" class="inputForm container w95pr centerBlock"
data-ctrl='{"NewRec":1,"Source":"proc_Drivers","tblUpdate":"tblDrivers"}'>
      <div class='left w45pr'>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"FirstName","id":"FirstName","labelType":"Left","classes":{"span":"w30pr","input":"w70pr"}}'>
         </div>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"DateBorn","id":"DateBorn","labelType":"Left", "Type":"DateLess","classes":{"span":"w30pr","input":"w70pr"}}'>@*"Plugin":{"datepicker":{"maxDate":"0"}}  "classes":"UpdateField",*@
         </div>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"Phone","id":"Phone","labelType":"Left","classes":{"span":"w30pr","input":"w70pr"}}'>
         </div>
      </div>
      <div class='right w45pr'>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"LastName","id":"LastName","labelType":"Left","classes":{"span":"w30pr","input":"w70pr"}}'>
         </div>
		{{#if editItem}}
			{{#if dateIsEdited}}
				<div class="tr curvedBorderGroove">
					<div class="td w70pr" style="padding:2%;"><input type="text" id="dialogEndDateInput" {{bindAttr value="endDate"}} style="width:100%;" placeholder="Nebedirba nuo.."/></div>
					<div class="td w25pr" style="text-align:center;padding:2%;"><a {{action saveDate}} href="#" class="inLine">Išsaugoti</a></div>
				</div>
			{{else}}
				{{#if endDate}}
						<div style="background-color:#EB5A44; font-weight:bolder;" class="tr curvedBorderGroove">
							<div class="td w70pr" style="padding:2%;color:White; font-weight:bolder;"><span class="inLine">Nebedirba nuo {{endDate}}</span></div>
							<div class="td w25pr" style="text-align:center;padding:2%;"><a href="#" {{action goToEditDate}} class="inLine" style="color:White; border:none;">Keisti</a></div>
						</div>
				{{else}}
						<div class="tr curvedBorderGroove">
							<a href="#" class="inLine" {{action goToEditDate}} style="margin:0;width:100%;text-align:center;">Pažymėkite, jei darbuotojas nebedirba</a>
						</div>
				{{/if}}
			{{/if}}
		{{/if}}
      </div>
</div> 
{{view App.FormBottomView target="App.listAllController"}}
<div class="uploadDocsContainer" id="dialoguploadDocsContainer"></div>
