<div id="dialogContent" class="inputForm container w95pr centerBlock"
data-ctrl='{"NewRec":1,"Source":"proc_Drivers","tblUpdate":"tblDrivers"}'>
      <div class='left w45pr'>
         <div class='ExtendIt' data-ctrl='{"Field":"FirstName","classes":"UpdateField","id":"FirstName","labelType":"Left"}'>
         </div>
         <div class='ExtendIt' data-ctrl='{"Field":"DateBorn","classes":"UpdateField","id":"DateBorn","labelType":"Left", "Type":"DateLess"}'>@*"Plugin":{"datepicker":{"maxDate":"0"}}*@
         </div>
         <div class='ExtendIt' data-ctrl='{"Field":"Phone","classes":"UpdateField","id":"Phone","labelType":"Left"}'>
         </div>
      </div>
      <div class='right w45pr'>
         <div class='ExtendIt' data-ctrl='{"Field":"LastName","classes":"UpdateField","id":"LastName","labelType":"Left"}'>
         </div>
@*         <div class='ExtendIt' data-ctrl='{"Field":"DrivingCategory","classes":"UpdateField","id":"DrivingCategory","labelType":"Left"}'>
         </div>	*@

		{{#if editItem}}
			{{#if dateIsEdited}}
				<div class="tr curvedBorderGroove">
					<div class="td w70pr" style="padding:2%;"><input type="text" id="dialogEndDateInput" {{bindAttr value="endDate"}} style="width:100%;" placeholder="Nebedirba nuo.."/></div>
					<div class="td w25pr" style="text-align:center;padding:2%;"><a {{action saveDate}} href="#" class="inLine">Išsaugoti</a></div>
				</div>
			{{else}}
				{{#if endDate}}
						<div style="background-color:#EB5A44; font-weight:bolder;" class="tr curvedBorderGroove">
							<div class="td w70pr" style="padding:2%;color:White; font-weight:bolder;"><span class="inLine">Nebedirba nuo {{endDate}}</span></div>
							<div class="td w25pr" style="text-align:center;padding:2%;"><a href="#" {{action goToEditDate}} class="inLine" style="color:White; border:none;">Keisti</a></div>
						</div>
				{{else}}
						<div class="tr curvedBorderGroove">
							<a href="#" class="inLine" {{action goToEditDate}} style="margin:0;width:100%;text-align:center;">Pažymėkite, jei darbuotojas nebedirba</a>
						</div>
				{{/if}}
			{{/if}}
		{{/if}}
      </div>
</div> 
@*<center style="margin: 2em 0;"><button id="btnSaveItem" class="btn btnSave">Išsaugoti</button><a style="margin-left: 2%;" id="aCancelItem" href="#">Atšaukti</a></center>
*@

{{view App.FormBottomView target="App.listAllController"}}

<div class="uploadDocsContainer" id="dialoguploadDocsContainer"></div>
