<div id="dialogContent" class="inputForm container centerBlock"
data-ctrl='{"NewRec":1,"Source":"proc_InsPolicies","tblUpdate":"tblInsPolicies"}'>@*@((Model.NewRec == 1) ? "" : ",\"id\":" + Model.Vehicle.ID)*@
   <ul class="Tabs">
      <li><a href="#tabs-policy">Polisas ir draudėjas</a></li>
      <li><a href="#tabs-warnings">Įspėjimai</a></li>
      <li><a href="#tabs-docs">Pateikiami dokumentai</a></li>
   </ul>
   <div id="tabs-policy">
@*      @{if (Model.NewRec == 1) { 
*@		<fieldset><legend>Draudimo poliso duomenys</legend>
         <div class='left w45pr'>
            <div class='ExtendIt' data-ctrl='{"Field":"ClaimTypeID","classes":"UpdateField","id":"lstClaimTypeID","labelType":"Left","List":{"excludeFromList":[0,6]}}'></div>
            <div class='ExtendIt' data-ctrl='{"Field":"PolicyNumber","classes":"UpdateField","id":"PolicyNo","labelType":"Left"}'></div>
         </div>
         <div class='right w45pr'>
            <div class='ExtendIt' data-ctrl='{"Field":"InsurerID","classes":"UpdateField","id":"InsurerID","labelType":"Left"}'></div>
            <div class='ExtendIt' data-ctrl='{"Field":"EndDate","classes":"UpdateField","id":"EndDate","labelType":"Left","Plugin":{"datepicker":{}}}'></div>
         </div>
         <center>
            <div class='ExtendIt' data-ctrl='{"Field":"MailsAddresses","classes":"UpdateField","id":"MailsAddresses","labelType":"Top"}'></div>
         </center>
      </fieldset>
         <fieldset><legend>Draudėjo duomenys (bus nurodyti pranešime draudikui apie žalą)</legend>
            <div class='left w45pr'>
               <div class='ExtendIt' data-ctrl='{"Field":"InsuredName","classes":"UpdateField","id":"InsuredName","labelType":"Left"}'></div>
               <div class='ExtendIt' data-ctrl='{"Field":"InsuredAddress","classes":"UpdateField","id":"InsuredAddress","labelType":"Left"}'></div>
            </div>
            <div class='right w45pr'>
               <div class='ExtendIt' data-ctrl='{"Field":"InsuredCode","classes":"UpdateField","id":"InsuredCode","labelType":"Left"}'></div>
               <div class='ExtendIt' data-ctrl='{"Field":"InsuredContactID","classes":"UpdateField notRequired","id":"InsuredContactID","labelType":"Left"}'></div>
            </div>
         </fieldset>
   </div>
   <!------------------------------------------------------------------------------->
   <!------------------------------------------------------------------------------->
   <div id="tabs-warnings">tabs-warnings</div>
   <!------------------------------------------------------------------------------->
   <!------------------------------------------------------------------------------->
   <div id="tabs-docs"></div>
</div>
<center style="margin: 2em 0;"><button id="btnSaveItem" class="btn btnSave">Išsaugoti</button><a style="margin-left: 2%;" id="aCancelItem" href="#">Atšaukti</a></center>
