<div id="dialogContent" class="inputForm container w95pr centerBlock"
data-ctrl='{"NewRec":1,"Source":"proc_Drivers","tblUpdate":"tblDrivers"}'>
      <div class='left w45pr'>
         <div class='ExtendIt' data-ctrl='{"Field":"FirstName","classes":"UpdateField","id":"FirstName","labelType":"Left"}'>
         </div>
         <div class='ExtendIt' data-ctrl='{"Field":"DateExpierence","classes":"UpdateField","id":"DateExpierence","labelType":"Left", "Type":"DateLess", "Default":"Today","Plugin":{"datepicker":{"minDate":"-5y","maxDate":"0"}} }'>
         </div>
         <div class='ExtendIt' data-ctrl='{"Field":"Phone","classes":"UpdateField","id":"Phone","labelType":"Left"}'>
         </div>
      </div>
      <div class='right w45pr'>
         <div class='ExtendIt' data-ctrl='{"Field":"LastName","classes":"UpdateField","id":"LastName","labelType":"Left"}'>
         </div>
         <div class='ExtendIt' data-ctrl='{"Field":"DrivingCategory","classes":"UpdateField","id":"DrivingCategory","labelType":"Left"}'>
         </div>	
			{{#if this.editItem}}	
			{{#if App.listAllController.endDate}}
				<div style="background-color:Red;" class="ui-corner-all tr borderGroove">
					<div class="td w70pr" style="padding:2%;color:White;"><span class="inLine">Nebedirba nuo {{App.listAllController.endDate}}</span></div>
					<div class="td w25pr" style="text-align:center;padding:2%;"><a href="#" class="inLine" style="color:White;">Keisti</a></div>
				</div>
			{{else}}
				<div class="ui-corner-all tr borderGroove">
					<div class="td w70pr" style="padding:2%;"><input type="text" id="dialogEndDateInput" style="width:100%;" placeholder="Nebedirba nuo.."/></div>
					<div class="td w25pr" style="text-align:center;padding:2%;"><a href="#" class="inLine">Išsaugoti</a></div>
				</div>
			{{/if}}
			{{/if}}
      </div>
</div> 
<center style="margin: 2em 0;"><button id="btnSaveItem" class="btn small">Išsaugoti</button><a style="margin-left: 2%;" id="aCancelItem" href="#">Atšaukti</a></center>
<div class="DocsRow">
	<strong>Dokumentai:</strong><img src="/Content/images/grapke.png" alt="" style="margin: auto 0.5em auto 3em" /><a id="#AttachListDocs" href="#">Prisegti naują dokumentą</a>
</div>
