<div class="container">
	<div class="right medium w35pr">
	<div id="container">{{view App.SearchField controller="listAllController"}}</div>
	</div>
</div>
<h2 style="margin:0 20px;">Draudimo sutarčių sąrašas</h2><a {{action toTop}} >(atgal į Sąrašus)</a>
<div class="container">
	<div class="right medium w15pr" data-ctrl='{"source":"proc_InsPolicies","template":"tmp_InsPolicies","controller":"listAllController","emObject":"content"}'>
	<button class="btn" {{action addNew target="App.listAllController"}}><i class="img32-plus mr8"></i>Pridėti naują</button>
	</div>
</div>
<table class="zebra-striped">
	<thead><tr><th>Draudimo rūšis</th><th>Draudimo kompanija</th><th>Poliso numeris</th><th>Pabaigos data</th><th>Draudėjas</th></tr></thead><tbody>
	{{#each "App.listAllController.content"}}
		{{#if visible}}
			{{#if iD}}
				{{view App.InsPolicyView}}
		{{/if}}
		{{/if}}
	{{/each}}
</tbody></table>
<div class="container">
	<div class="right medium w15pr" data-ctrl='{"source":"proc_InsPolicies","template":"tmp_InsPolicies","controller":"listAllController","emObject":"content"}'>
	<button class="btn" {{action addNew target="App.listAllController"}}><i class="img32-plus mr8"></i>Pridėti naują</button>
	</div>
</div>
