@*<div class="tr">
	{{log this}}
	<div class="td w20pr">{{firstName}}</div><div class="td w20pr">{{lastName}}</div><div class="td w20pr">{{dateExpierence}}</div>
	<div class="td w15pr">{{drivingCategory}}</div><div class="td w20pr">{{phone}}</div>  
</div>*@
<tr>
	<td>{{firstName}}</td><td>{{lastName}}</td><td>{{dateExpierence}}</td>
	<td>{{drivingCategory}}</td><td>{{phone}}</td><td>{{docs}}</td> 
</tr>