<style type="text/css">
#tabLists{background:none;}
</style>
<div class="custombackgroundList">
<h2 class="listColorProperty" >Naujausi įrašai sąrašuose</h2>
<h3 style="margin: 15px;" class="h3CustomProperty">Vairuotojai</h3>
<div class="container" id="topNewDrivers">
	<table class="zebra-striped">
	<thead><tr><th>Vardas</th><th>Pavardė</th><th>Gimimo data</th><th>Mobilus telefonas</th><th>Dokumentai</th></tr></thead><tbody>
	{{#each "App.topNewController.drivers"}}
		{{view App.DriverView}}
	{{/each}}
	</tbody></table>
	<div class="right medium" data-ctrl='{"goTo":"allDrivers","source":"proc_Drivers","template":"tmp_Drivers","controller":"topNewController","emObject":"drivers","filterCols":["firstName","lastName","phone"]}'><a class="medium listUnderlineProperty" {{action toListAll}} href="#">Peržiūrėti pilną sąrašą</a><button class="btn" {{action addNew target="App.listAllController"}}>Pridėti naują</button></div>
</div>
</div>
<hr />

<div class="custombackgroundList">
<h3 style="margin: 15px;" class="h3CustomProperty">Transporto priemonės</h3>
<div class="container" id="topNewVehicles">
	<table class="zebra-striped">
	<thead><tr><th>Valst. Nr.</th><th>Tipas</th><th>Markė</th><th>Modelis</th><th>Pagaminimo metai</th><th>Dokumentai</th></tr></thead><tbody>
	{{#each "App.topNewController.vehicles"}}
		{{view App.VehicleView}}
	{{/each}}
	</tbody></table>
	<div class="right medium" data-ctrl='{"goTo":"allVehicles","source":"proc_Vehicles","template":"tmp_Vehicles","controller":"topNewController","emObject":"vehicles","filterCols":["model","plate","type","make"]}'><a class="medium listUnderlineProperty" {{action toListAll}} href="#">Peržiūrėti pilną sąrašą</a><button class="btn" {{action addNew target="App.listAllController"}}>Pridėti naują</button></div>
</div>
</div>
<hr />

<div class="custombackgroundList">
<h3  style="margin: 15px;" class="h3CustomProperty">Draudimo sutartys</h3>
<div class="container" id="topNewInsPolicies">
	<table class="zebra-striped">
	<thead><tr><th>Draudimo rūšis</th><th>Draudimo kompanija</th><th>Poliso numeris</th><th>Pabaigos data</th><th>Draudėjas</th></tr></thead><tbody>
	{{#each "App.topNewController.insPolicies"}}
	{{#if this.iD}}
		{{view App.InsPolicyView}}
	{{/if}}
	{{/each}}
	</tbody></table>
	<div class="right medium" data-ctrl='{"goTo":"allInsPolicies","source":"proc_InsPolicies","template":"tmp_InsPolicies","controller":"topNewController","emObject":"insPolicies","filterCols":["claimType","policyNumber","insuredName","insurerName"]}'><a class="medium listUnderlineProperty" {{action toListAll}} href="#">Peržiūrėti pilną sąrašą</a><button class="btn underlineProperty" {{action addNew target="App.listAllController"}}>Pridėti naują</button></div>
</div>
</div>