<div><a data-ctrl='{"oName":"proc_Drivers"}' href="#" {{action "openList" "proc_Drivers"}}>
	<span>Vairuotojai</span></a>
</div>
<div><a data-ctrl='{"oName":"proc_Vehicles"}' href="#" {{action "openList" "proc_Vehicles"}}>
	<span>Transporto priemonės</span></a>
</div>
<div><a data-ctrl='{"oName":"proc_InsPolicies"}' href="#" {{action "openList" "proc_InsPolicies"}}>
	<span>Draudimo sutartys</span></a>
</div>
