<fieldset class="ui-corner-all fieldSetBorder w70pr centerBlock" style="padding:0 20px;">
	<legend>Transporto priemonių markės</legend>
	{{log this}}
	{{#each App.listAllController.VehicleMakes}}
		{{#if this.edit}} 
		<div class="docType"><input {{bindAttr value="name" }} type="text"><button class="btn small" {{action saveVehicleMake this}}>Išsaugoti</button><a class="btn small" {{action cancelVehicleMake this}}>Atšaukti</a></div>
		{{else}}
			<div class="docType">
				<div style="float:left">{{name}}</div>		
				<div style="float:right">
					<a href="#" {{action editVehicleMake this}}><i class="img18-pencil"></i></a>
					<a href="#" {{action deleteVehicleMake this}}><i class="img18-delete"></i></a>
				</div>
			</div>
		{{/if}}
	{{/each}}
	{{#if this.addVehicleMake}} 
		<div style="line-height:30px;"><input Placeholder="Įveskite naują markę" type="text"/><button class="btn small" {{action saveNewVehicleMake}}>Išsaugoti</button></div><div><button class="btn small" {{action cancelNewVehicleMake}}>Atšaukti</button></div>
	{{else}}
		<a style="line-height:30px;" {{action addNewVehicleMake}} href="#">Pridėti naują markę</a>
	{{/if}}
</fieldset>
</br>

<div style="text-align:center;margin:20px;"><button class="btn" {{action closeDialog}}>Uždaryti</button></div>