{{#if notEditable}}
	<h2 class="tableTitle marginLeft0">{{subject}}</h2>
	<hr class="borderBottomDotted boxForDialog"/>
	<div class="row marginBottom0">
		<span class="first col four"><span class="comment">Įvedė: </span>{{unbound userName}}, {{entryDate}}</span>
		<span class="col four"><span class="comment">Kam: </span>{{unbound to}}</span>
		<span class="col two"><span class="comment">Atlikti iki: </span>{{unbound date}}</span>
		<label class="last col two" title="Pažymėti užduotį (ne)įvykdyta"><span class="pull-right">Atlikta {{view Em.Checkbox checkedBinding="App.tabClaimsRegulationController.taskComplete" disabledBinding="App.tabClaimsRegulationController.notActionOwner"}}</span></label>
	</div>
	<div class="row marginBottom0">
	{{unbound body}}
	</div>
	{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
{{else}}
	<div class="row">	
		{{updatableField toID labelType="Left" colLabels="ToID_forTask" classes="span:'col one', input:'col three'"}}
		<span class="col four">&nbsp;</span>
		{{updatableField date labelType="Left" classes="span:'col one marginLeft3pr', input:'col three'"}}
	</div>	
	{{updatableField subject labelType="Left" classes="wrapper:row, span:'col one', input:'col eleven'"}}
	{{updatableField body labelType="None" classes="wrapper:row, input:'row'"}}
	{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
{{/if}}
