</br>
<div class="row">	
{{updatableField date labelType="Top" classes="wrapper:'col first'" sTitle="Mokėjimo data"}}
{{updatableField amount labelType="Top" classes="wrapper:'col three'" sTitle="Išmokos suma be PVM"}}
</div>
{{updatableField body labelType="Top" classes="input:'row'" sTitle="Pastabos"}}
{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
