</br>
<div class="row">	
	{{updatableField typeID labelType="Left" classes="wrapper:'col eight first clearfix child-labels-left' " sTitle="Pretenzijos tipas" Radio="[{'label':'Sąskaita-faktūra','value':'7','checked':1},{'label':'Nurašymo aktas','value':'8'}]"}}
</div>	
<div class="row">	
{{updatableField subject labelType="Top" classes="wrapper:'col nine first'" sTitle="Paskirtis"}}
{{updatableField amount labelType="Top" classes="wrapper:'col three last'" sTitle="Suma be PVM"}}
</div>
{{updatableField body labelType="Top" classes="input:'row'" sTitle="Pastabos"}}
{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
