{{#compare isNew "===" "true" }}
	<div class="row">	
		{{updatableField fromText labelType="Left" classes="span:'col one', input:'col three'"}}
		{{updatableField toText labelType="Left" classes="span:'col one marginLeft3pr', input:'col three'"}}
		{{updatableField date labelType="Left" classes="span:'col one marginLeft3pr', input:'col three'"}}
	</div>	
	{{updatableField subject labelType="Left" classes="wrapper:row, span:'col one', input:'col eleven'"}}
	{{updatableField body labelType="None" classes="wrapper:row, input:'row'"}}

	{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
{{else}}
		<div style="float:right;width:90%;margin:.5em 5%;" class="rightComment">Įvedė: {{unbound userName}}, {{entryDate}}</div>
{{/compare}}



