<div id="contentOfClaimReg" class="inputForm container w90pr centerBlock" data-ctrl='{"NewRec":1,"Source":"proc_Finances","tblUpdate":"tblFinances"}'>
	</br>
	<div class="row">	
	{{updatableField date labelType="Top" classes="wrapper:'col first'" sTitle="Mokėjimo data"}}
	{{updatableField amount labelType="Top" classes="wrapper:'col two '" sTitle="Išmokos suma be PVM"}}
	</div>
	{{updatableField note labelType="Top" classes="input:'row'" sTitle="Pastabos"}}
	{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
</div> 
