<div class="content content-claims">
@*{{log claim}}*@
{{#with claim}}
	<h2 class="driversColorProperty">Žala nr. {{accident.no}}-{{no}}, {{claimType.name}}, {{insPolicy.insurerName}}</h2><a href="#" {{action goBack target="this"}} style="color:#5A6F85;">(atgal į Žalų sąrašą)</a>
	<h4 class="driversColorProperty">{{vehicle.plate}}, {{accident.driver}}</h4>
	<div class="claims" id="claimsSteps">
		<div class="line"></div>
		{{#each steps}}
		{{#compare stepNo "===" "1"}}
			<div {{bindAttr class=":step-box :first alert:alert step"}} {{bindAttr data-stepno="stepNo"}}>
		{{else}}
			<div {{bindAttr class=":step-box  alert:alert step"}} {{bindAttr data-stepno="stepNo"}}>
		{{/compare}}
				<div class="step-box-header">
					<div class="num">{{stepNo}}.</div>
					<div class="name">{{name}}</div>
				</div>
				<div class="step-box-content">
					<div class="inner">{{{content}}}</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
{{/with}}
<div class="content content-fullwidth">
	<ul class="tabnav"> 
		<li class="active">
			tabbbbbbbbb
		</li>
		<li>
			tabbbbbbbbb2
		</li>
		<li>
			tabbbbbbbbb3
		</li>				
	</ul>	
	<div id="actions-zone"></div>	
</div>
<div id="entry-zone"></div>
