<div class="content box-1pr-btm">
{{#with claim}}
	<h2 class="driversColorProperty">Žala nr. {{accident.no}}-{{no}}, {{claimType.name}}, 
		{{#if insPolicy.insurerName}} {{insPolicy.insurerName}} {{else}} Neapdrausta {{/if}}
	</h2><a  {{action goBack target="this"}} style="color:#5A6F85;">(atgal į Žalų sąrašą)</a>
	<h4 class="driversColorProperty">{{vehicle.plate}}, {{accident.driver}}</h4>

	<div class="claims" id="claimsSteps">
		<div class="line"></div>
		{{#each steps}}
		{{#compare stepNo "===" "1"}}
			<div {{bindAttr class=":step-box :first alert:alert step"}} {{bindAttr data-stepno="stepNo"}}>
		{{else}}
			<div {{bindAttr class=":step-box  alert:alert step"}} {{bindAttr data-stepno="stepNo"}}>
		{{/compare}}
				<div class="step-box-header">
					<div class="num">{{stepNo}}.</div>
					<div class="name">{{name}}</div>
				</div>
				<div class="step-box-content">
					<div class="inner">{{{content}}}</div>
				</div>
			</div>
		{{/each}}
	</div>
{{/with}}
</div>

<div id="claimRegulationTab" style="padding:0.2em 0;">
	<ul class="ulWhiteMenu"> 
		<li><a href="#actionsFormOfClaimReg"><span>Veiksmai</span></a></li>
		<li><a href="#docsOfClaimReg"><span>Dokumentai</span></a></li>
		<li><a href="#historyOfClaimReg"><span>Pakeitimų istorija</span></a></li>				
	</ul>	
	<div id="actionsFormOfClaimReg" style="padding:0;">
		<div class="content">
			<table class="zebra-striped"><thead><tr><th>&nbsp;</th><th>Data</th><th>Kas</th><th>Kam</th><th>Info</th><th>Priedai</th></tr></thead><tbody>
				{{#each activitiesTbl}}	
					<tr {{action goToOtherView this}} class="clickable"><td><i class={{unbound icon}}></i></td><td>{{entryDate}}</td><td>{{from}}</td><td>{{to}}</td><td>{{subject}}</td><td>{{docs}}</td></tr>
				{{/each}}
			</tbody></table>
		</div>
		<div class="left" style="width:100%;margin-top:1.5%;"></div>
		<div id="actionsEnterOfClaimReg"></div>@*Activities view*@
	</div>

	<div class="content" id="docsOfClaimReg">Dokumentai</div>

	<div class="content" id="historyOfClaimReg">Pakeitimų istorija</div>

</div>
