<div id="sidePanelCl" class="hidden">
	<a class="btn-reset-filters" {{action "showAll"  target="view"}}>
		<img class="small-blue-icon" src="Content/less/images/icon_reset_filter.png" />
		Nustatyti filtrą iš naujo
	</a>

	{{#if isWith}}
	<div class="lineTop filtergroup" id="chkCriteria"><h4>Rodyti žalas tik:</h4>
		{{#if isOpen}}<input type="checkbox" id="chkOpenCl"/><label for="chkOpenCl">atviras</label>{{/if}}
		{{#if isWithWarnings}}<input type="checkbox" id="chkWithWarnings"/><label for="chkWithWarnings">su įspėjimais</label>{{/if}}
		{{#if isWithMyTasks}}<input type="checkbox" id="chkWithMyTasks"/><label for="chkWithMyTasks">su mano užduotimis</label>{{/if}}
	</div>
	{{/if}}

	<div class="lineTop filtergroup" id="chkInsurers"><h4>Rodyti šių draudikų žalas:</h4>
		{{#each "insurers"}}
		{{#if this.visible}}
			<input type="checkbox" id={{unbound chkId}} /><label for={{unbound chkId}} >{{unbound name}}</label>
		{{/if}}
		{{/each}}
	</div>


	<div class="lineTop filtergroup" id="chkClaimsTypesCl"><h4>Rodyti įvykius, turinčius šio tipo žalas:</h4>
		{{#each claimTypes}}
		{{#if this.visible}}{{#unless this.notForClaims}}
			<input type="checkbox" id={{unbound chkId2}} /><label for={{unbound chkId2}} >{{unbound name}}</label>
		{{/unless}}{{/if}}
		{{/each}}
	</div>


	<div class="lineTop filtergroup" id="chkYearsCl"><h4>Rodyti įvykius, atitinkančius datą:</h4>
		<input type="checkbox" id="chkDate_12month"/><label for="chkDate_12month"> Paskutiniai 12 men</label>
		{{#each years}}
			<input type="checkbox" id={{unbound chkId2}} /><label for={{unbound chkId2}} >{{unbound year}} metai</label>@*name="checkbox" *@
		{{/each}}
	</div>
</div>
