</br>
<div class="row">	
{{updatableField date labelType="Top" classes="wrapper:'col first'" colLabels="Date_forCompensation"}}
{{updatableField amount labelType="Top" classes="wrapper:'col three '" colLabels="Date_forCompensation"}}
</div>
{{updatableField body labelType="Top" classes="input:'row'"}}
{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
