<div id="contentOfClaimReg" class="inputForm container w90pr centerBlock" @*data-ctrl='{"NewRec":1,"Source":"proc_Activities","tblUpdate":"tblActivities"}'*@>
	sendEmail sendEmail sendEmail sendEmail sendEmail

{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
</div>
