<div id="contentOfClaimReg" class="inputForm container w90pr centerBlock" data-ctrl='{"NewRec":1,"Source":"proc_Activities","tblUpdate":"tblActivities"}'>
	<div class="row">	
		{{updatableField toID labelType="Left" sTitle="Kam" classes="span:'col one first', input:'col three'"}}
		{{updatableField dueDate labelType="Left" classes="span:'col one box-45pr-left', input:'col three last'"}}
	</div>	
	{{updatableField subject labelType="Left" classes="wrapper:row, span:'col one first', input:'col eleven'"}}
	{{updatableField body labelType="None" classes="wrapper:row, input:'row'"}}
	{{view App.FormBottomView target="App.tabClaimsRegulationController"}}
</div> 
