<div class="ui-dialog ui-widget ui-widget-content left" tabindex="-1" style="position:relative; height: auto; width:100%; display: block;">
<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
	<span id="ui-id-1" class="ui-dialog-title">{{view.title}}</span>
	<a  class="ui-dialog-titlebar-close ui-corner-all" {{action cancelForm target="App.tabClaimsRegulationController"}}><span class="ui-icon ui-icon-closethick">close</span></a>
</div>
<div id="openClaimDialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 25px; height: auto;" scrolltop="0" scrollleft="0">
	<div id="contentOfClaimReg" class="js-frm container w90pr centerBlock" data-ctrl='{"NewRec":1,"Source":"proc_Activities","tblUpdate":"tblActivities"}'>
		{{view view.childView}}
	</div>
</div>
	<div class="borderTop box_1pr uploadDocsContainer" id="uploadClaimDocs"></div>
</div>
