@*<style type="text/css">
a{text-decoration:underline;}
</style>*@
<div class="custombackgroundListAdmin">
<h2>Administravimas</h2>
<h3 class="tableTitle">Bendrieji paskyros nustatymai</h3>
{{#each App.accountController.content}}
@*	Negaliu įrašyt iD nes pasikraunant jo dar nėra
*@	<div id="AccountForm" class="inputForm container pad14" data-ctrl='{"id":"","NewRec":0,"Source":"tblAccount","tblUpdate":"tblAccounts"}'>
		<div class="border ui-corner-all admin-topsection row pad14">

			<div class='col six'>
				{{updatableField name labelType="Top" classes="wrapper:'leftBlock'"}}
				<div style="margin-right: 8%; width: 45%;float:left;">
					{{updatableField currencyID labelType="Top"  List="{\"Source\":\"tblCurrencies\"}" classes="wrapper:'leftBlock'"}}
				</div>
				<div style="width: 45%;float:left;">
					{{updatableField countryID labelType="Top" id="admin-top-salis" List="{\"Source\":\"tblCountries\"}" classes="wrapper:'leftBlock'"}}
				</div>
			</div>

			<div class='col six'>
				<div style="width: 72%;float:left;">
					{{updatableField email id="admin-top-email" labelType="Top" classes="wrapper:'leftBlock'"}}
				</div><span style="position: absolute; margin-top: 33px;">@@claimscontrol.com</span>
				<div style="width: 44%;float:left;">
					{{updatableField timeZoneID labelType="Top" id="admin-top-timezone" List="{\"Source\":\"tblTimeZones\"}" classes="wrapper:'leftBlock'"}}
				</div>
			</div>

			<div class="pull-right pad14">
				<button class="btn btnSave customButtonProperty" {{action SaveChanges target="App.accountController"}}>Išsaugoti</button>
			</div>

		</div>
	</div>

{{/each}}
</div>
<div class="custombackgroundListAdmin">
<h3 style="padding-top:10px;" class="tableTitle">Naudotojų administravimas</h3>
<div class="container" id="usersList">
	<table class="zebra-striped">
	<thead><tr><th>El. paštas</th><th>Vardas, pavardė</th><th>Yra administratorius</th><th>Prisijungti leidžiama</th></tr></thead><tbody>
	{{#each "App.usersController.content"}}
		{{view App.UsersRowView}}
	{{/each}}
	</tbody></table>
<div class="pad14 pull-right"><button class="btn btnSave" {{action addNewUser target="App.userCardController"}}>
<i class="img32-plus mr8"></i>Prideti nauja</button></div>
</div>
</div>
@*<a class="medium" {{action deleteAccount target="App.accountController"}} >Panaikinti paskyrą</a>*@
