<h2 style="margin: 15px; display: block">Administravimas</h2>
<hr />
<h3 style="margin: 15px">Bendrieji paskyros nustatymai</h3>
{{#with App.accountController}}
@*	Negaliu įrašyt iD nes pasikraunant jo dar nėra
*@	<div id="AccountForm" class="inputForm container" data-ctrl='{"id":"","NewRec":0,"Source":"tblAccount","tblUpdate":"tblAccounts"}'>
	<div class='left w47pr_mp'>
			{{updatableField c Field="name" labelType="Top"}}
			{{updatableField c Field="currencyID" labelType="Top" List="{\"Source\":\"tblCurrencies\"}"}}
			{{updatableField c Field="countryID" labelType="Top" List="{\"Source\":\"tblCountries\"}"}}
		</div>
		<div class='right w47pr_mp'>
			{{updatableField c Field="email" labelType="Top"}}<span>@@claimscontrol.com</span>
			{{updatableField c Field="timeZoneID" labelType="Top" List="{\"Source\":\"tblTimeZones\"}"}}
			<button class="btn" {{action SaveChanges target="App.accountController"}}>Išsaugoti</button>
		</div>
	</div>
{{/with}}
<hr />
<h3 style="margin: 15px">Naudotojų administravimas</h3>
<div class="container" id="usersList">
	<table class="zebra-striped">
	<thead><tr><th>El. paštas</th><th>Vardas, pavardė</th><th>Yra administratorius</th><th>Prisijungti leidžiama</th></tr></thead><tbody>
	{{#each "App.usersController.content"}}
		{{view App.UsersRowView}}
	{{/each}}
	</tbody></table>
<div style="margin: 15px"><button class="btn" {{action addNewUser target="App.userCardController"}}>Prideti nauja</button></div>
</div>
<hr />
@*<a class="medium" {{action deleteAccount target="App.accountController"}} href="#">Panaikinti paskyrą</a>*@