<div id="changePass" class="content" style="width:300px; height:390px; margin:10% auto">
	<h2 style="width:200px;" class="centerBlock">Keisti slaptažodį</h2>
	<div class="ExtendIt centerBlock" style="width:250px;">
		<label class="toplabel">
			<span>Esamas slaptažodis</span><input type="password" data-ctrl='{"Value":"","Field":"OldPass"}'/>
		</label>
	</div>
	<div class="ExtendIt  centerBlock" style="width:250px;">
		<label class="toplabel">
			<span>Naujas slaptažodis</span><input type="password" data-ctrl='{"Value":"","Field":"NewPass"}'/>
		</label>
	</div>	<div class="ExtendIt  centerBlock" style="width:250px;">
		<label class="toplabel">
			<span>Pakartokit naują slaptažodį:</span><input type="password" data-ctrl='{"Value":"","Field":"NewPass2"}'/>
		</label>
	</div></br>
		<p id="changePaswordError" class="ui-state-error-text centerBlock"></p></br>
	<div class="centerBlock" style="width:180px;margin-top:50px">
		<button class="btn" {{action saveNewPass target="this"}}>Išsaugoti</button>
		<a style="float:right" {{action cancelNewPass target="this"}} href="#">Atšaukti</a>
	</div>
</div>