<h2 style="margin: 15px; display: block">Administravimas</h2>
<hr />
<h3>Bendrieji paskyros nustatymai</h3>


<div class="container" id="usersList">
	<table class="zebra-striped">
	<thead><tr><th>El.paštas</th><th>Vardas Pavardė</th><th>Yra administratorius</th><th>Yra aktyvus</th></tr></thead><tbody>
	{{#each "App.adminController.users"}}
		{{view App.UserRowView}}
	{{/each}}
	</tbody></table>
<div><button class="btn small" {{action addNew target="App.listAllController"}}>Pridėti naują</button></div>
</div>
<hr />
<a class="medium" {{action deleteAccount}} href="#">Panaikinti paskyrą</a>