<h2 style="margin: 15px; display: block;color:#EB5A44">Administravimas</h2>
<hr />
<h3 style="margin: 15px">Bendrieji paskyros nustatymai</h3>

{{#each App.accountController.content}}
@*	Negaliu įrašyt iD nes pasikraunant jo dar nėra
*@	<div id="AccountForm" class="inputForm container" data-ctrl='{"id":"","NewRec":0,"Source":"tblAccount","tblUpdate":"tblAccounts"}'>
	<div class="border ui-corner-all admin-topsection">
	<div class='left w47pr_mp'>
			{{updatableField name labelType="Top"}}
			<div style="margin-right: 8%; width: 45%;float:left;">
				{{updatableField currencyID labelType="Top"  List="{\"Source\":\"tblCurrencies\"}"}}
			</div>
			<div style="width: 45%;float:left;">
				{{updatableField countryID labelType="Top" id="admin-top-salis" List="{\"Source\":\"tblCountries\"}"}}
			</div>
		</div>
		<div class='right w47pr_mp'>
		<div style="width: 72%;float:left;">
			{{updatableField email id="admin-top-email" labelType="Top"}}
		</div><span style="position: absolute; margin-top: 30px;">@@claimscontrol.com</span>
		<div style="width: 44%;float:left;">
			{{updatableField timeZoneID labelType="Top" id="admin-top-timezone" List="{\"Source\":\"tblTimeZones\"}"}}
		</div>
		<button class="btn btnSave" style="float: right; margin-top: 15px;" {{action SaveChanges target="App.accountController"}}>Išsaugoti</button>
		</div>
	</div>
  </div>
{{/each}}
<hr />
<h3 style="margin: 15px">Naudotojų administravimas</h3>
<div class="container" id="usersList">
	<table class="zebra-striped">
	<thead><tr><th>El. paštas</th><th>Vardas, pavardė</th><th>Yra administratorius</th><th>Prisijungti leidžiama</th></tr></thead><tbody>
	{{#each "App.usersController.content"}}
		{{view App.UsersRowView}}
	{{/each}}
	</tbody></table>
<div style="margin-right: 163px;float:right;"><button class="btn btnSave" {{action addNewUser target="App.userCardController"}}>Prideti nauja</button></div>
</div>
<hr />
@*<a class="medium" {{action deleteAccount target="App.accountController"}} href="#">Panaikinti paskyrą</a>*@