<div id="changePass" class="content changePass" style="width:300px; height:390px; margin:10% auto">
	<h2 style="width:200px;" class="centerBlock">Keisti slaptažodį</h2>
	<div class="ExtendIt centerBlock" style="width:250px;">
		<label class="toplabel">
			<span>Esamas slaptažodis</span><input type="password" data-ctrl='{"Value":"","Field":"OldPass"}'/>
		</label>
	</div>
	<div class="ExtendIt centerBlock" style="width:250px;">
		<label class="toplabel">
			<span>Naujas slaptažodis</span><input type="password" data-ctrl='{"Value":"","Field":"NewPass"}'/>
		</label>
	</div>	<div class="ExtendIt centerBlock" style="width:250px;">
		<label class="toplabel">
			<span>Pakartokite naują slaptažodį</span><input type="password" data-ctrl='{"Value":"","Field":"NewPass2"}'/>
		</label>
	</div></br>
		<p id="changePaswordError" class="ui-state-error-text centerBlock"></p></br>
	<div class="centerBlock" style="width:180px;margin-top:10px;float:right">
		<button class="btn" {{action saveNewPass target="this"}} style="margin-left:25px">Išsaugoti</button>
		<a {{action cancelNewPass target="this"}} >Atšaukti</a>
	</div>
</div>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Keisti slaptažodį</h3>
	</div>

	<div class="modal-body">
		<form>

			<div class="control-group">
				<label>Esamas slaptažodis:<label>
				<input class="input-block-level" type="password" />
			</div>

			<div class="control-group">
				<label>Naujas slaptažodis:<label>
				<input class="input-block-level" type="password" />
			</div>

			<div class="control-group">
				<label>Pakartokite naują slaptažodį:<label>
				<input class="input-block-level" type="password" />
			</div>

		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-link" data-dismiss="modal" aria-hidden="true">Atšaukti</button>
		<button class="btn btn-primary">Išsaugoti</button>
	</div>
</div>