@*{{{{log this}}
checkOut this Field="Days" id="inputDays" labelType="Top"}}
<div class="td w03pr">{{unbound no}}</div>*@
<tr class="clickable" {{action editUser target="App.userCardController"}}>
	<td><a href="">{{email}}</a></td>
	<td class="cell--long">{{firstName}}&nbsp;{{surname}}</td>

	{{#if isAdmin}}<td class="tac"><i class="img32-check"></i></td>
	{{else}}<td class="tac">&nbsp; </td>{{/if}}
	
	{{#if isActive}}<td class="tac"><i class="img32-check"></i></td>
	{{else}}<td>&nbsp; </td>{{/if}} 
</tr>
