@*{{{{log this}}
checkOut this Field="Days" id="inputDays" labelType="Top"}}
<div class="td w03pr">{{unbound no}}</div>*@
<tr class="clickable" {{action editUser target="App.userCardController"}}>
	<td>{{email}}</td><td>{{firstName}}&nbsp;{{surname}}</td>

	{{#if isAdmin}}<td><i class="img32-check"></i></td>
	{{else}}<td>&nbsp; </td>{{/if}}
	
	{{#if isActive}}<td><i class="img32-check"></i></td>
	{{else}}<td>&nbsp; </td>{{/if}} 
</tr>
