@{
	string LogoutUrl = Url.Action("LogOff", "Account"),
	LoginUrl = Url.Action("LogOn", "Account");
	Settings st = Site.GetSettings();
}

@if (Request.IsAuthenticated){

	<span class="uppercase">@CC.Classes.UserData.Account</span>
	<div class="links-group pull-right">
		<a id="userLink" class="icons-gear">@CC.Classes.UserData.UserName</a>
		<a href='#' class="icons-x" onclick="location='@LogoutUrl'">Atsijungti</a>
	</div>
}
else {
    
	<span class="uppercase">@st.Title</span>
	<div class="pull-right">
		<a id='spanLogAction' class="icons-gear" onclick="location='@LoginUrl'">Prisijungti</a>
	</div>
	
	@* Tomas 2013.08.08
	<a class="whiteLink"  id="userLink" >@CC.Classes.UserData.UserName</a>
	*@
}

