<div class="frmbottom container">
{{#if deleteButton}}
	<div class="pull-left"><button class="btn-delete" title="Ištrinti" {{action "deleteForm" this}}></button></div>
{{/if}}
{{#if notEditable}}
	<div class="pull-right links-group">
		<a title="Išeiti iš formos" style="margin:10px;" {{action "cancelForm"}}>Išeiti</a>
	</div>
{{else}}
	<div class="pull-right links-group">
		<button title="Išsaugoti pakeitimus" class="btnSave btn" {{action "saveForm"}}>IŠSAUGOTI</button>
		<a title="Atšaukti pakeitimus" {{action "cancelForm"}}>Atšaukti</a>
	</div>
{{/if}}
</div>