{{#each controller.docs}}
	<li class="ui-widget-content ui-corner-tr" {{bindAttr data-doc-id="docId"}}>
			<img {{bindAttr src="photoUrl" alt="name"}}/>
				<a {{bindAttr href="photoUrl" }}>{{name}}</a>
				<p>{{desc}}</p>
		</li>
{{/each}}

@*{{#each controller.documents}}
	<tr>
	<td>
		<i {{bindAttr class="docClass" }} style="float:left"></i>
		{{title}}<br/>
		<a {{bindAttr href="documentUrl" }}>{{documentName}}</a>
	</td>
	<td>{{details}}</td>
	<td> 
		<p>
			<a class="btn btn-small" {{bindAttr href="editLink" }}><i class="icon-custom-edit"></i></a>
			<a class="btn btn-small" {{bindAttr href="deleteLink" }}><i class="icon-custom-delete"></i></a>
		</p>
	</td>
</tr>
{{/each}}*@