@*{{log this}}*@
{{#if controller.isPhoto}}
	{{#each controller.docs}}
	<li class="ui-widget-content ui-corner-tr photo" {{bindAttr data-doc-id="docID" }}>
		<div  class="photo-image">
		{{#if hasThumb}}
			<a data-gallery="gallery" {{bindAttr href="urlDoc" }}>
			<img {{bindAttr src="urlThumb"}}  alt="thumb"/>
			</a>
		{{else}}
			<i {{bindAttr class="fileIcon" }} ></i>
		{{/if}}
		</div>
				
				{{#if this.editMode}}
					<div class="ExtendIt" style="margin:0">
						<input class="description" type="text" {{bindAttr value="description"}} style="width:100%;margin-bottom:5px;"/>
						<input class="docType" type="text" {{bindAttr value="docType"}}/>
						<div style="margin-top:18px">
							<a href="#" {{action cancelSaveDoc this target="App.editDocsController"}}>Atšaukti</a>
							<button {{action SaveEditedDoc this target="App.editDocsController"}} class="btn small">Išsaugoti</button>
						</div>
					</div>
				{{else}}
					<div>{{description}}</div>
					<a {{bindAttr href="urlDoc" }} target="_blank">{{fileName}}</a></br>
					<p>{{userName}}&nbsp;{{fileDate}}</p>
					<div class="w100px">
						<i class="img32-mono_edit clickable" {{action editDoc this target="App.editDocsController"}}></i>
						<i class="img32-mono_delete clickable" {{action deleteDoc this target="App.editDocsController"}}></i>
					</div>
				{{/if}}

	</li>
	{{/each}}
{{else}}
	{{#each controller.docs}}
	<li class="docs" {{bindAttr data-doc-id="docID" }}>
		<div class="tr">
		<div class="td w40px" style="padding:5px;">
				{{#if hasThumb}}
					<img {{bindAttr src="urlThumb"}} alt="thumb"/>
				{{else}}
					<i {{bindAttr class="fileIcon" }} ></i>
				{{/if}}
		</div>
		{{#if this.editMode}}
				<div class="td w25pr ExtendIt" style="margin:0;padding:5px;">
						<input class="docType" type="text" {{bindAttr value="docType"}}/><br/>
						<a {{bindAttr href="urlDoc"}} target="_blank" >{{fileName}}</a>		
				</div><div class="td" style="margin:0 2%;padding:5px;">
						<input class="description" type="text" {{bindAttr value="description"}} style="width:100%"/></br><p style="color:Gray">{{docDetails}}</p>
				</div><div class="td" style="padding:5px;">
						<a href="#" {{action cancelSaveDoc this target="App.editDocsController"}}>Atšaukti</a>
						<button {{action SaveEditedDoc this target="App.editDocsController"}} class="btn small">Išsaugoti</button>
				</div>
		{{else}}
				<div class="td w25pr" style="padding:5px;">
						{{docType}}<br/>
						<a {{bindAttr href="urlDoc"}} target="_blank" >{{fileName}}</a>		
				</div><div class="td" style="padding:5px;">
						{{description}}</br><p style="color:Gray">{{docDetails}}</p>
				</div><div class="td w25pr" style="padding:5px;">
						<i class="img32-mono_delete clickable right" {{action deleteDoc this target="App.editDocsController"}}></i>
						<i class="img32-mono_edit clickable right" {{action editDoc this target="App.editDocsController"}}></i>
				</div>
		{{/if}}
		</div>
	</li>{{/each}}
{{/if}}
