@*{{log this}}*@
{{#if controller.isPhoto}}
	{{#each controller.docs}}
	<li class="ui-widget-content ui-corner-tr photo" {{bindAttr data-doc-id="docID" }}>
		<div>
		{{#if hasThumb}}
			<a data-gallery="gallery" {{bindAttr href="urlDoc" }}>
			<img {{bindAttr src="urlThumb"}}  alt="thumb"/>
			</a>
		{{else}}
			<i {{bindAttr class="fileIcon" }} ></i>
		{{/if}}
		</div>
				<a {{bindAttr href="urlDoc" }} target="_blank">{{fileName}}</a>
				<p>{{userName}}&nbsp;{{fileDate}}</p>
	</li>
	{{/each}}
{{else}}
	{{#each controller.docs}}
	<li class="docs" {{bindAttr data-doc-id="docID" }}>
		<div class="tr">
		<div class="td w40px" style="padding:5px;">
				{{#if hasThumb}}
					<img {{bindAttr src="urlThumb"}} alt="thumb"/>
				{{else}}
					<i {{bindAttr class="fileIcon" }} ></i>
				{{/if}}
		</div>
		{{#if this.editMode}}
				<div class="td w25pr ExtendIt" style="margin:0">
						<input class="docType" type="text" {{bindAttr value="docType"}}/><br/>
						<a {{bindAttr href="urlDoc"}} target="_blank" >{{fileName}}</a>		
				</div><div class="td w45pr" style="margin:0 2%">
						<input class="description" type="text" {{bindAttr value="description"}} style="width:100%"/></br><p style="color:Gray">{{docDetails}}</p>
				</div><div class="td w100px">
						<a href="#" {{action cancelSaveDoc this target="App.editDocsController"}}>Atšaukti</a>
						<button {{action SaveEditedDoc this target="App.editDocsController"}} class="btn small">Išsaugoti</button>
				</div>
		{{else}}
				<div class="td w25pr">
						{{docType}}<br/>
						<a {{bindAttr href="urlDoc"}} target="_blank" >{{fileName}}</a>		
				</div><div class="td w45pr">
						{{description}}</br><p style="color:Gray">{{docDetails}}</p>
				</div><div class="td w100px">
						<i class="img32-mono_edit clickable" {{action editDoc this target="App.editDocsController"}}></i>
						<i class="img32-mono_delete clickable" {{action deleteDoc this target="App.editDocsController"}}></i>
				</div>
		{{/if}}
		</div>
	</li>{{/each}}
{{/if}}
