<fieldset class="ui-corner-all fieldSetBorder w80pr centerBlock" style="padding:0 20px 10px;">
	<legend class="pad-b0 pad-hor4">Įvykio dokumentų tipai</legend>
	{{log this}}
	{{#each App.docsTypesController.docTypes_accident}}
		{{#if this.edit}} 
		<div class="docType content"><input {{bindAttr value="name" }} type="text"><button class="btn small" {{action saveDocType this}}>Išsaugoti</button><button class="btn small" {{action cancelDocType this}}>Atšaukti</button></div>
		{{else}}
			<div class="docType">
				<div style="float:left">{{name}}</div>		
				<div style="float:right">
					<a  {{action editDocType this}}><i class="img18-pencil"></i></a>
					<a  {{action deleteDocType this}}><i class="img18-delete"></i></a>
				</div>
			</div>
		{{/if}}
	{{/each}}
	{{#if this.addNewType2}} 
		<div style="line-height:30px;"><input Placeholder="Įveskite naują tipą" type="text" data-category-id=2><button class="btn small" {{action saveNewDocType}}>Išsaugoti</button></div><div><button class="btn small" data-category-id=2 {{action cancelNewDocType}}>Atšaukti</button></div>
	{{else}}
		<a style="line-height:30px;" {{action addNewDocType}} data-category-id=2 >Pridėti dokumento tipą</a>
	{{/if}}
</fieldset>
</br>

<fieldset class="ui-corner-all fieldSetBorder w80pr centerBlock" style="padding:0 20px 10px;">
	<legend class="pad-b0 pad-hor4">Vairuotojų dokumentų tipai</legend>
	{{#each App.docsTypesController.docTypes_driver}}
		{{#if this.edit}} 
		<div class="docType"><input {{bindAttr value="name" }} type="text"/><button class="btn small" {{action saveDocType this}}>Išsaugoti</button><button class="btn small" {{action cancelDocType this}}>Atšaukti</button></div>
		{{else}}
			<div class="docType content">
				<div style="float:left">{{name}}</div>		
				<div style="float:right">
					<a  {{action editDocType this}}><i class="img18-pencil"></i></a>
					<a  {{action deleteDocType this}}><i class="img18-delete"></i></a>
				</div>
			</div>
		{{/if}}
	{{/each}}
	{{#if this.addNewType3}} 
		<div style="line-height:30px;"><input Placeholder="Įveskite naują tipą" type="text" data-category-id=3 /><button class="btn small" {{action saveNewDocType}}>Išsaugoti</button></div><div><button class="btn small" data-category-id=3 {{action cancelNewDocType}}>Atšaukti</button></div>
	{{else}}
		<a style="line-height:30px;" {{action addNewDocType}} data-category-id=3 >Pridėti dokumento tipą</a>
	{{/if}}
</fieldset>
</br>

<fieldset class="ui-corner-all fieldSetBorder w80pr centerBlock" style="padding:0 20px 10px;">
	<legend class="pad-b0 pad-hor4">Transporto priemonių dokumentų tipai</legend>
	{{#each App.docsTypesController.docTypes_vehicle}}
		{{#if this.edit}} 
		<div class="docType content"><input {{bindAttr value="name" }} type="text"/><button class="btn small" {{action saveDocType this}}>Išsaugoti</button><button class="btn small" {{action cancelDocType this}}>Atšaukti</button></div>
		{{else}}
			<div class="docType">
				<div style="float:left">{{name}}</div>		
				<div style="float:right">
					<a  {{action editDocType this}}><i class="img18-pencil"></i></a>
					<a  {{action deleteDocType this}}><i class="img18-delete"></i></a>
				</div>
			</div>
		{{/if}}
	{{/each}}
	{{#if this.addNewType4}} 
		<div style="line-height:30px;"><input Placeholder="Įveskite naują tipą" type="text" data-category-id=4 /><button class="btn small" {{action saveNewDocType}}>Išsaugoti</button></div><div><button class="btn small" data-category-id=4 {{action cancelNewDocType}}>Atšaukti</button></div>
	{{else}}
		<a style="line-height:30px;" {{action addNewDocType}} data-category-id=4 >Pridėti dokumento tipą</a>
	{{/if}}
</fieldset>
</br>
<div style="text-align:center;margin:20px;"><button class="btn" {{action closeDialog}}>Uždaryti</button></div>
