@*{{{{log this}}
checkOut this Field="Days" id="inputDays" labelType="Top"}}*@
<div class="td w03pr">{{unbound no}}</div>
<div class="td w395pr">
	<div><b>{{unbound place}}</b></div>  
	<div>{{unbound accType}}</div>  
</div>
<div class="td w30pr">
	<div><b>{{unbound shortNote}}</b></div>  
	<div>{{lossSum}}</div> 
</div>
<div class="td w20pr">
	<div>Visos žalos:{{unbound cNo_All}}</div> 
	<div>Atviros:{{unbound cNo_NotF}} </div>
</div>

<div class="td w03pr"><a href="#" {{action editAccident this target="App.accidentsController"}}><i class="img32-mono_edit"></i></a>
</div>
<div class="hidden">{{longNote}}{{driver}}{{userName}}{{claims_C}}{{claims_C2}}</div>