@*{{{{log this}}
checkOut this Field="Days" id="inputDays" labelType="Top"}}*@
<div class="td w03pr">{{unbound no}}</div>
<div class="td w12pr">{{unbound date}}</div>
<div class="td w38pr">
	<div><b>{{place}}</b></div>  
	<div>{{accType}}</div>  
</div>
<div class="td w28pr">
	<div><b>{{shortNote}}</b></div>  
	<div>{{lossSum}}</div> 
</div>
<div class="td w15pr">
	<div>Visos žalos: <strong>{{cNo_All}}</strong></div> 
	<div>Atviros: <strong class="text-warning">{{cNo_NotF}}</strong></div>
</div>

<div class="td w03pr"><span {{action editAccident this target="App.accidentsController"}}><i class="img32-examine"></i></span>
</div>
@*<div class="hidden">{{longNote}}{{driver}}{{userName}}{{claims_C}}{{claims_C2}}</div>*@