
{{#each c in view.content}} 
{{log c}}
{{#unless c.NewClaim}}
	<div id='divClaimCard_Content' class="container centerBlock w90pr" data-ctrl='{"id":"{{unbound c.ID}}","NewRec":"0","Source":"tblClaims","TypeID":"{{unbound c.TypeID}}"}'>
{{else}}
	<div id='divNewClaimCard_Content' class="container centerBlock w90pr">@*data-ctrl yra motininej divNewClaimCard*@
{{/unless}}
{{#compare "this.TypeID" "==" "6"}} 
	<div class='left w45pr'>
	{{updatableField c Field="VehicleID" id="lstVehicles" labelType="Top"}}
	{{updatableField c Field="Days" id="inputDays" labelType="Top" event="keyUp_shallChangeLossAmount"}}
	{{updatableField c Field="PerDay" id="inputPerDay" labelType="Top" event="keyUp_shallChangeLossAmount"}}
	</div><div class='right w45pr'>
	{{updatableField c Field="LossAmount" id="inputSum" attr="DISABLED" labelType="Top" sTitle="Prastovos nuostolio suma"}}@*(Math.round((Claim.Days*Claim.PerDay*100))/100)*@	
	</div>
{{else}}
	<div class='left w45pr'>
	{{updatableField c Field="VehicleID" id="lstVehicles" labelType="Top" Editable="{\"EditThis\":true}" }}
	{{updatableField c Field="LossAmount" id="LossAmount" labelType="Top"}}
	{{updatableField c Field="InsPolicyID" id="lstInsPolicies" labelType="Top" List="{\"Source\":\"proc_InsPolicies_forThisAccident\",\"tblUpdate\":\"tblInsPolicies\"}"}}

	</div><div class='right w45pr'>
	{{#compare "this.TypeID" "==" "1"}} 
		{{updatableField c Field="IsTotalLoss" labelType="Top"}}
	{{/compare}}
	{{#compare "this.TypeID" "==" "2"}} 
		{{updatableField c Field="IsInjuredPersons" id="IsInjuredPersons" labelType="Top"}}
	{{/compare}}
	{{updatableField c Field="InsuranceClaimAmount" id="InsuranceClaimAmount" labelType="Top"}}
	{{updatableField c Field="InsurerClaimID" labelType="Top"}}
	</div>
{{/compare}}
</div>


<div class="frmbottom container">
	{{#unless c.NewClaim}}
	<div class="left mini"><button class="btn"><i class="img32-bin" title="Ištrinti žalą" {{action "DeleteClaim" this}}></i></button></div>
	{{/unless}}
	<div class="right medium" style="margin-top:10px;">
		<button {{bindAttr class="c.NewClaim:NewClaim :btn :success :small :saveClaim"}} {{action "SaveClaim"}}></i>IŠSAUGOTI</button>
		<a href="#" title="Atšaukti pakeitimus" style="margin:10px;" {{action "CancelSaveClaim"}}>Atšaukti</a>
	</div>
</div>
{{/each}}