{{#with App.claimEditController.claim}} 
@*{{#each view.content}} *@
{{log this}}
{{#unless newClaim}}
	<div id='divClaimCard_Content' class="container centerBlock w90pr" data-ctrl='{"id":"{{unbound iD}}","NewRec":"0","Source":"proc_Claims","TypeID":"{{unbound typeID}}"}'>
{{else}}
	<div id='divNewClaimCard_Content' class="container centerBlock w90pr">@*data-ctrl yra motininej divNewClaimCard*@
{{/unless}}
{{#compare typeID "===" "6"}} 
	<div class='left w45pr'>
		{{updatableField vehicleID labelType="Top" classes="wrapper:'leftBlock'" }}
		{{updatableField days labelType="Top" classes="wrapper:'leftBlock days'" event="keyUp_shallChangeLossAmount"}}
		{{updatableField perDay labelType="Top" classes="wrapper:'leftBlock perDay'" event="keyUp_shallChangeLossAmount"}}
	</div>

	<div class='right w45pr'>
		{{updatableField lossAmount attr="DISABLED" classes="wrapper:'leftBlock perDay disabled inputSum'" labelType="Top" sTitle="Prastovos nuostolio suma"}}@*(Math.round((Claim.days*Claim.PerDay*100))/100)*@	
	</div>
{{else}}

	<div class='left w45pr'>
		{{updatableField vehicleID labelType="Top" classes="wrapper:leftBlock'" Editable="{\"EditThis\":true}" }}
		{{updatableField lossAmount  id="LossAmount" labelType="Top" classes="wrapper:'leftBlock'" }}
		{{updatableField insPolicyID id="InsuredClaimList" labelType="Top" classes="wrapper:'js-toggle leftBlock'" List="{\"Source\":\"proc_InsPolicies_forThisAccident\",\"tblUpdate\":\"tblInsPolicies\",\"excludeFromList\":[0]}"}}
	</div>


	<div class='right w45pr'>
		<div class="ExtendIt leftBlock checkbox-label-top">
			<label id="NotInsuredClaim">{{view Em.Checkbox checkedBinding="App.claimEditController.claim.noInsurance"}} Neapdrausta</label>
		</div>
		{{#compare typeID "===" "1"}} 
			{{updatableField isTotalLoss labelType="Top" classes="wrapper:'js-toggle leftBlock'"}}
		{{/compare}}
		{{#compare typeID "===" "2"}} 
			{{updatableField isInjuredPersons id="IsInjuredPersons" labelType="Top" classes="wrapper:'js-toggle leftBlock checkbox-label-top'"}}
		{{/compare}}
		{{updatableField insuranceClaimAmount id="InsuranceClaimAmount" labelType="Top" classes="wrapper:'js-toggle leftBlock'"}}
		{{updatableField insurerClaimID labelType="Top" classes="wrapper:'js-toggle leftBlock'"}}
	</div>
{{/compare}}
</div>
{{view App.FormBottomView target="App.claimEditController"}}
{{/with}}