
{{#each c in view.content}} 
{{log c}}
{{#unless c.newClaim}}
	<div id='divClaimCard' class="container centerBlock" style="width:90%;" data-ctrl='{"id":"{{unbound c.ID}}","NewRec":"0","Source":"tblClaims","TypeID":"{{unbound c.TypeID}}"}'>
{{else}}
	<div id='divClaimCardDetails' >
{{/unless}}
{{#compare "this.TypeID" "==" "6"}} 
	<div class='left w45pr'>
	{{updatableField c Field="Days" id="inputDays" labelType="Top" event="keyUp_shallChangeLossAmount"}}
	{{updatableField c Field="PerDay" id="inputPerDay" labelType="Top" event="keyUp_shallChangeLossAmount"}}
	{{updatableField c Field="LossAmount" id="inputSum" attr="DISABLED" labelType="Top"}}@*(Math.round((Claim.Days*Claim.PerDay*100))/100)*@
	</div><div class='right w45pr'>
	{{updatableField c Field="VehicleID" id="lstVehicles" labelType="Top"}}
	</div>
{{else}}
	<div class='left w45pr'>
	{{updatableField c Field="VehicleID" id="lstVehicles" labelType="Top" Editable="{\"Add\":true,\"Edit\":true}"}}
	{{updatableField c Field="InsPolicyID" id="lstInsPolicies" labelType="Top" List="{\"Source\":\"proc_InsPolicies_forThisAccident\"}"}}
	{{updatableField c Field="InsurerClaimID" labelType="Top"}}
	</div><div class='right w45pr'>
	{{updatableField c Field="LossAmount" id="LossAmount" labelType="Top"}} @*"classes\":\"LossAmount*@
	{{#compare "this.TypeID" "==" "1"}} 
		{{updatableField c Field="IsTotalLoss" labelType="Top"}}
	{{/compare}}
	{{#compare "this.TypeID" "==" "2"}} 
		{{updatableField c Field="IsInjuredPersons" id="IsInjuredPersons" labelType="Top"}}
	{{/compare}}
	{{updatableField c Field="InsuranceClaimAmount" id="InsuranceClaimAmount" labelType="Top"}} @*"classes\":\"InsuranceClaimAmount*@	
	
	</div>
{{/compare}}
</div>
{{/each}}

<div class="frmbottom container">
	{{#unless c.newClaim}}
	<div class="left small"><button class="btn"><i style="margin-top:0" class="img32-bin" title="Ištrinti žalą" {{action "DeleteClaim" this}}></i></button></div>
	{{/unless}}
	<div class="right medium" style="margin-top:10px;">
		<button class="btn success small {{#if c.newClaim}}NewClaim{{/if}}" {{action "SaveClaim"}}></i>IŠSAUGOTI</button>
		<a href="#" title="Atšaukti pakeitimus" style="margin:10px;" {{action "CancelSaveClaim"}}>Atšaukti</a>
	</div>
</div>