<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>Rodyti visus įvykius</span></a>@*žalas*@
</div>
</br></br>
<div>Rodyti įvykius tik:
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>su atvirom žalom</span></a>@*žalas*@
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>be atvirų žalų</span></a>@*žalas*@
</div>
<hr>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>su dokumentais</span></a>@*žalas*@
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>be dokumentų</span></a>@*žalas*@
</div>
</br></br>

<div>Pagal įvykio datą:</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>2011 metai</span></a>@*žalas*@
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>2010 metai</span></a>@*žalas*@
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>2009 metai</span></a>@*žalas*@
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>Paskutiniai 12 mėn</span></a>@*žalas*@
</div>
</br></br>
<div>Rodyti tik įvykius turinčius šio tipo žalas:</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>TP valdytojų civilinė atsakomybė</span></a>
</div>
<div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>KASKO</span></a>
</div><div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>Vežėjo civilinė atsakomybė</span></a>
</div><div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>Ekspeditoriaus civilinė atsakomybė</span></a>
</div><div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>Darbdavio civilinė atsakomybė</span></a>
</div><div><a href="#" {{action "showAll" "proc_Drivers"}}>
	<span>Prastova</span></a>
</div>