@*		{{#if items}}
<li class="treeItem" {{bindAttr data-category-id="categoryId" }}>
			<img class="expandImage" {{action expandCollapse}} src="Content/less/images/bullet_toggle_minus.png">
				<span class="textHolder" ><strong>{{title}}</strong></span>
				<ul>{{view App.DocTreeView}}</ul>	
		{{else}}
<li class="treeItem clickable" {{bindAttr data-category-id="categoryId"}} {{action getDocs}} >
				<img class="spacerImage" src="Content/less/images/spacer.gif">
				<span class="textHolder">{{title}}</span>
		{{/if}} 		
</li>*@
@*		{{log this}}
		{{#if isSelectable}}
		
<li class="treeItem clickable" {{bindAttr data-category-id="categoryId" }} {{action getDocs}}>
			<img class="expandImage" {{action expandCollapse}} src="Content/less/images/bullet_toggle_minus.png">
				<span class="textHolder" ><strong>{{title}}</strong></span>
				<ul>{{view App.DocTreeView}}</ul>	
		{{else}}
<li class="treeItem" {{bindAttr data-category-id="categoryId"}}>
				<img class="spacerImage" src="Content/less/images/spacer.gif">
				<span class="textHolder">{{title}}</span>
		{{/if}} 		
</li>*@
{{log this}}
{{#if isSelectable}}
<li class="treeItem clickable" {{bindAttr data-category-id="categoryId" }} {{action getDocs}}>			
		{{#if isTree}}
			<img class="expandImage" {{action expandCollapse}} src="Content/less/images/bullet_toggle_minus.png">
			<span class="textHolder" ><strong>{{title}}</strong></span>
			<ul>{{view App.DocTreeView}}</ul>
		{{else}}
			<img class="spacerImage" src="Content/less/images/spacer.gif">
			<span class="textHolder"><strong>{{title}}</strong></span>
		{{/if}}		
{{else}}
<li class="treeItem" {{bindAttr data-category-id="categoryId"}}>
		{{#if isTree}}
				<img class="expandImage" {{action expandCollapse}} src="Content/less/images/bullet_toggle_minus.png">
				<span class="textHolder"><strong>{{title}}</strong></span>
				<ul>{{view App.DocTreeView}}</ul>
		{{else}}
				<img class="spacerImage" src="Content/less/images/spacer.gif">
				<span class="textHolder">{{title}}</span>		
		{{/if}}		
{{/if}} 		
</li>