<form id="uploadDocs" enctype="multipart/form-data">
   <!-- Redirect browsers with JavaScript disabled to the origin page action="//jquery-file-upload.appspot.com/" method="POST" -->
   @*<noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>*@
   <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
   <div class="row fileupload-buttonbar">
	{{#if showPhoto}}
      <div class="span7">
            <span class="btn btn-success fileinput-button">
               @*<i class="icon-plus icon-white"></i>*@
					<i class="img16-attach"></i>
               <span>Prisegti nuotraukas</span>
               <input type="file" name="pictures[]" multiple>
            </span>
	{{else}}
      <div class="span7">
	{{/if}}
		<span class="filedocument-label">Dokumentai:</span>
		<a href="#" class="fileinput-button">
					<i class="img16-attach"></i>
               <span>Prisegti dokumentus</span>
               <input type="file" name="docs[]" multiple>
            </a>
      </div>
      <!-- The global progress information -->
      <div class="span5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
               <div class="bar" style="width:0%;"></div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
      </div>
   </div>
   <!-- The loading indicator is shown during file processing -->
   <div class="fileupload-loading"></div>
   <table role="presentation" class="table zebra-striped filesTable hidden">
	<thead class="centered"><tr><th colspan="2">Dokumentas</th><th>Dydis</th><th>Kategorija</th><th>Aprašymas</th><th colspan="3">Veiksmai</th></tr>
	</thead>
	<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>

		<div class="container submitButtons hidden">
		<div class="right fileupload-buttonbar">
			<button type="submit" class="btn btn-primary start w150px">
				<i class="icon-upload icon-white"></i>
				<span>Išsaugoti</span>
			</button>
			<button type="reset" class="btn btn-warning cancel w150px">
				<i class="icon-ban-circle icon-white"></i>
				<span>Atšaukti</span>
			</button>	
		</div>
	</div>

</form>