@*{{log this}}
*@<div id="dialogContent" class="inputForm container w95pr centerBlock"
data-ctrl='{"NewRec":1,"Source":"proc_Vehicles","tblUpdate":"tblVehicles"}'>
     <div class='left w45pr'>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"TypeID","classes":{"span":"w30pr","input":"w70pr"},"id":"lstTypeID","labelType":"Left"}'></div>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"MakeID","classes":{"span":"w30pr","input":"w70pr"},"id":"lstMakeID","labelType":"Left"}'></div>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"Year","classes":{"span":"w30pr","input":"w70pr"},"id":"Year","labelType":"Left"}'></div>
      </div>
      <div class='right w45pr'>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"Plate","classes":{"span":"w30pr","input":"w70pr"},"id":"Plate","labelType":"Left"}'></div>
         <div class='ExtendIt leftBlock' data-ctrl='{"Field":"Model","classes":{"span":"w30pr","input":"w70pr"},"id":"Model","labelType":"Left"}'></div>
		@*ui-corner-all borderGroove*@

		{{#if editItem}}
			{{#if dateIsEdited}}
				<div class="tr curvedBorderGroove">
					<div class="td w70pr" style="padding:2%;"><input type="text" id="dialogEndDateInput" {{bindAttr value="endDate"}} style="width:100%;" placeholder="Nebenaudojama nuo.."/></div>
					<div class="td w25pr" style="text-align:center;padding:2%;"><a {{action saveDate}}  class="inLine">Išsaugoti</a></div>
				</div>
			{{else}}
				{{#if endDate}}
						<div style="background-color:#EB5A44; font-weight:bolder;" class="tr curvedBorderGroove">
							<div class="td w70pr" style="padding:2%;color:White; font-weight:bolder;"><span class="inLine">Nebenaudojama nuo {{endDate}}</span></div>
							<div class="td w25pr" style="text-align:center;padding:2%;"><a  {{action goToEditDate}} class="inLine" style="color:White; border:none;">Keisti</a></div>
						</div>
				{{else}}
						<div class="tr curvedBorderGroove">
							<a  class="inLine" {{action goToEditDate}} style="margin:0;width:100%;text-align:center;">Pažymėkite, jei transporto priemonė nebenaudojama</a>
						</div>
				{{/if}}
			{{/if}}
		{{/if}}

		</div>
</div>
@*<center style="margin: 2em 0;"><button id="btnSaveItem" class="btn btnSave">Išsaugoti</button><a style="margin-left: 2%;" id="aCancelItem" >Atšaukti</a></center>
*@
{{view App.FormBottomView target="App.listAllController"}}
<div class="uploadDocsContainer borderTop box_1pr" id="dialoguploadDocsContainer"></div>
