<div class="container">
	<div class="right medium w35pr">
	<div id="container">{{view App.SearchField controller="listAllController"}}</div>
	</div>
</div>
<h2 style="margin:0 20px;">Draudimo polisų sąrašas</h2><a {{action toTop}} href="#">(Atgal į Sąrašus)</a>
<div class="container">
	<div class="right medium w15pr" data-ctrl='{"source":"proc_InsPolicies","template":"tmp_InsPolicies","controller":"listAllController","emObject":"content"}'>
	<button class="btn" {{action addNew target="App.listAllController"}}>Pridėti naują</button>
	</div>
</div>
<table class="zebra-striped">
	<thead><tr><th>Draudimo rūšis</th><th>Draudimo kompanija</th><th>Sutarties Nr</th><th>Pabaigos data</th><th>Draudėjas</th></tr></thead><tbody>
	{{#each "App.listAllController.content"}}
		{{#if this.visible}}
		{{#if this.iD}}
@*		{{#compare "this.iD" ">" "0"  }}
*@			{{view App.InsPolicyView}}
		@*{{/compare}}*@
		{{/if}}
		{{/if}}
	{{/each}}
</tbody></table>
<div class="container">
	<div class="right medium w15pr" data-ctrl='{"source":"proc_InsPolicies","template":"tmp_InsPolicies","controller":"listAllController","emObject":"content"}'>
	<button class="btn" {{action addNew target="App.listAllController"}}>Pridėti naują</button>
	</div>
</div>
