<div class="container">
	<div class="right medium w35pr">
	<div>{{view App.SearchField controller="listAllController"}}</div>
	</div>
</div>
<h2 style="margin:0 20px;">Vairuotojų sąrašas</h2><a {{action toTop}} href="#">(atgal į Sąrašus)</a>

<div class="ui-tabs"><ul class='ulWhiteMenu ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header'>
	<li class="ui-state-default ui-corner-top"><a href="#" {{action filterWorking target="App.listAllController"}}>
		<span>Dirbantys</span></a></li>
	<li class="ui-state-default ui-corner-top"><a href="#" {{action filterNotWorking target="App.listAllController"}}>
		<span>Nebedirbantys</span></a></li>
</ul></div>
<div class="container">
	<div class="right medium w15pr" data-ctrl='{"source":"proc_Drivers","template":"tmp_Drivers","controller":"listAllController","emObject":"content"}'>
	<button class="btn" {{action addNew target="App.listAllController"}}>Pridėti naują</button>
	</div>
</div>
<table class="zebra-striped">
	<thead><tr><th>Vardas</th><th>Pavardė</th><th>Darbo sutarties pradžia</th><th>Vairavimo kategorijos</th><th>Mobilus telefonas</th><th>Dokumentai</th></tr></thead>
	<tbody>
	{{#each "App.listAllController.content"}}
		{{#if this.visible}}
			{{view App.DriverView}}
		{{/if}}
	{{/each}}
</tbody></table>
<div class="container">
	<div class="right medium w15pr" data-ctrl='{"source":"proc_Drivers","template":"tmp_Drivers","controller":"listAllController","emObject":"content"}'>
	<button class="btn" {{action addNew target="App.listAllController"}}>Pridėti naują</button>
	</div>
</div>

