<div class="cont">
	<div class="left big w35pr">
		<div id="container">{{view App.SearchField controller="accidentsController"}} </div>@*context="accidents"*@
	</div>
	<div class="right big"><button class="btn large" {{action addNewAccident target="App.accidentsController"}}><i class="img32-plus"></i>Registruoti naują įvykį</button></div>
</div>
@*<div id="uploadDocsToAccident" class="well" style="width:80%; margin:0 auto;"></div>*@
<div class="table zebra-striped selectable tall" id="accidentsTable">
{{#each "App.accidentsController.content"}}@*{{#each person in people}}*@
@*{{log this}}*@
{{#if this.visible}}
<div {{action tbodyClick  this target="App.accidentsController"}} class="tr accident">
	{{view App.AccidentView}}
</div>
{{/if}}
{{/each}}
</div>