
@*------------uploadDocsToAccident - uploadai, sekantis medžiui
<div id="uploadDocsToAccident2" class="well" style="width:80%; margin:0 auto;"></div>
<div class="cont" style="background:#ffffff;width:100%;border:0;"></div> 
----------------------------------------------------------------------*@
@*height:500px - be aukščio nusistato kiek reikia*@


<div class="container pad14 border-bot-lgray clearfix">
	<div class="pull-left">
		{{view App.SearchField controller="accidentsController"}} @*context="accidents"*@
	</div>
	<div class="pull-right">
		<button class="btn btn-large btn-large-with-plus" {{action addNewAccident target="App.accidentsController"}}>Registruoti naują įvykį</button>
	</div>
</div><!-- container -->
{{log this}}
{{log App.accidentsController.content.length}}
{{#if App.accidentsController.content.length}}
	<h2>Paskutiniai įvykiai:</h2>
	<div class="zebra-striped selectable tall" id="accidentsTable">
	{{#each "App.accidentsController.content"}}
	{{#if visible}}
		<div {{action tbodyClick  this target="App.accidentsController"}} class="tr accident">
			{{view App.AccidentView}}
		</div>
	{{/if}}
	{{/each}}
	</div>

{{else}}
	<h4>Nėra įvesta įvykių..</h4>
{{/if}}