
{{#each view.content}} 
{{log this}}
{{#unless this.newClaim}}
	<div id='divClaimCard_Content' class="container centerBlock w90pr" data-ctrl='{"id":"{{unbound this.iD}}","NewRec":"0","Source":"tblClaims","TypeID":"{{unbound this.typeID}}"}'>
{{else}}
	<div id='divNewClaimCard_Content' class="container centerBlock w90pr">@*data-ctrl yra motininej divNewClaimCard*@
{{/unless}}
{{#compare "this.typeID" "==" "6"}} 
	<div class='left w45pr'>
	{{updatableField vehicleID labelType="Top"}}
	{{updatableField days labelType="Top" classes="days" event="keyUp_shallChangeLossAmount"}}
	{{updatableField perDay labelType="Top" classes="perDay" event="keyUp_shallChangeLossAmount"}}
	</div><div class='right w45pr'>
	{{updatableField lossAmount attr="DISABLED" classes="disabled inputSum" labelType="Top" sTitle="Prastovos nuostolio suma"}}@*(Math.round((Claim.days*Claim.PerDay*100))/100)*@	
	</div>
{{else}}
	<div class='left w45pr'>
	{{updatableField vehicleID labelType="Top" Editable="{\"EditThis\":true}" }}
	{{updatableField lossAmount labelType="Top"}}
	{{updatableField insPolicyID labelType="Top" List="{\"Source\":\"proc_InsPolicies_forThisAccident\",\"tblUpdate\":\"tblInsPolicies\"}"}}

	</div><div class='right w45pr'>
	{{#compare "this.typeID" "==" "1"}} 
		{{updatableField isTotalLoss labelType="Top"}}
	{{/compare}}
	{{#compare "this.typeID" "==" "2"}} 
		{{updatableField isInjuredPersons id="IsInjuredPersons" labelType="Top"}}
	{{/compare}}
	{{updatableField insuranceClaimAmount id="InsuranceClaimAmount" labelType="Top"}}
	{{updatableField insurerClaimID labelType="Top"}}
	</div>
{{/compare}}
</div>
{{view App.FormBottomView target="App.claimEditController"}}
{{/each}}