<div id="sidePanel" style="margin: 4px;">
<div><a href="#" {{action "showAll"  target="view"}}>
	<span>Panaikinti filtro nustatymus (rodyti visus įvykius)</span></a>
</div>
</br>
<fieldset class="ui-corner-all fieldSetBorder"><legend>Rodyti įvykius tik</legend>
	<span id="chkOpen" style="margin:5px;display:inline-block;"  >	
	<input type="checkbox" id="chkWithOpen" /><label for="chkWithOpen">su</label>
	<input type="checkbox" id="chkWithOutOpen" /><label for="chkWithOutOpen">be</label>
	<span style="margin-left:5px;" class="ui-button-text">atvirų žalų</span>
	</span>

	<span id="chkDocs"style="margin:5px;display:inline-block;">	
	<input type="checkbox" id="chkWithDocs" /><label for="chkWithDocs">su</label>
	<input type="checkbox" id="chkWithOutDocs" /><label for="chkWithOutDocs">be</label>
	<span style="margin-left:5px;" class="ui-button-text">dokumentų</span>
	</span>
</fieldset>
</br>
<fieldset class="ui-corner-all datesOptions fieldSetBorder"><legend>Rodyti įvykius atitinkančius datą</legend>
	<label><input type="checkbox" data-opt="12month" /><a href="#">Paskutiniai 12 mėn</a></label>@*id="chk12month" *@
	{{#each "App.sidePanelController.years"}}
		<label><input type="checkbox" {{bindAttr data-opt="year"}} /><a href="#">{{year}} metai</a></label>
	{{/each}}
@*	<label><input type="checkbox" id="chk2011" /><a href="#">2011 metai</a></label>
	<label><input type="checkbox" id="chk2010" /><a href="#">2010 metai</a></label>
	<label><input type="checkbox" id="chk2009" /><a href="#">2009 metai</a></label>*@
</fieldset>
</br>


<fieldset class="ui-corner-all claimsTypesOptions fieldSetBorder"><legend>Įvykiai turintys sekančių žalų</legend>
	{{#each "App.sidePanelController.claimTypes"}}
	{{#if this.visible}}
		<label><input type="checkbox" {{bindAttr data-opt="iD"}} /><a href="#">{{name}}</a></label>
	{{/if}}
	{{/each}}
@*	<label><input type="checkbox" id="chkClaim_1" /><a href="#">KASKO</a></label>
	<label><input type="checkbox" id="chkClaim_2" /><a href="#">TP valdytojų civilinė atsakomybė</a></label>
	<label><input type="checkbox" id="chkClaim_3" /><a href="#">Vežėjo civilinė atsakomybė</a></label>
	<label><input type="checkbox" id="chkClaim_4" /><a href="#">Ekspeditoriaus civilinė atsakomybė</a></label>
	<label><input type="checkbox" id="chkClaim_5" /><a href="#">Darbdavio civilinė atsakomybė</a></label>
	<label><input type="checkbox" id="chkClaim_6" /><a href="#">Prastova</a></label>*@
</fieldset>
</div>