<div id="sidePanel">

	<a class="btn-reset-filters" {{action "showAll"  target="view"}}>
		<img class="small-blue-icon" src="Content/less/images/icon_reset_filter.png" />
		Nustatyti filtrą iš naujo
	</a>
	
</div>

<div class="lineTop filtergroup" ><h4>Rodyti įvykius tik:</h4>
	<div id="chkOpen" class="buttons-switch clearfix">	
		<input type="checkbox" id="chkWithOpen" /><label for="chkWithOpen" class="first">su</label>
		<input type="checkbox" id="chkWithOutOpen" /><label for="chkWithOutOpen">be</label>
		<span class="filter-switch-label"><span>nesureguliuotų žalų</span></span>
	</div>

	<div id="chkDocs" class="buttons-switch clearfix">	
		<input type="checkbox" id="chkWithDocs" /><label for="chkWithDocs" class="first">su</label>
		<input type="checkbox" id="chkWithOutDocs" /><label for="chkWithOutDocs">be</label>
		<span class="filter-switch-label"><span>dokumentų</span></span>
	</div>
</div>


<div class="lineTop filtergroup" id="chkYears"><h4>Rodyti įvykius, atitinkančius datą:</h4>
<input type="checkbox" name="chkYears" id="chk_12month"/><label for="chk_12month"> Paskutiniai 12 men</label>
	{{#each "App.sidePanelController.years"}}
	{{log this}}
	<input type="checkbox" name="checkbox" id={{unbound chkId}} /><label for={{unbound chkId}}>{{unbound year}} metai</label>
	{{/each}}
</div>    


<div class="lineTop filtergroup" id="chkClaimsTypes"><h4>Rodyti įvykius, turinčius šio tipo žalas:</h4>
	{{#each "App.sidePanelController.claimTypes"}}
	{{#if this.visible}}
		<input type="checkbox" name="checkbox" id={{unbound chkId}} /><label for={{unbound chkId}}>{{unbound name}}</label>
	{{/if}}
	{{/each}}
</div>


@*
<div class="lineTop filtergroup" >
	<span>Anima. greitis (end,start):</span>
	<input type="text" value="400" style="display:inline-block;width:45%" data-action="end" {{action setAnimationSpeed on="change" target="App.accidentsController"}}/>
	<input type="text" value="400" style="display:inline-block;width:45%" data-action="start" {{action setAnimationSpeed on="change" target="App.accidentsController"}}/>
</div>
*@



